<p>Dear user,</p>

<p>Below is a confirmation of your booking for room "{{ roomName }}".</p>

<ul>
  <li>Room: {{ roomName }}</li>
  <li>Booking name: {{ bookingName }}</li>
  <li>Booking type: {{ bookingType }}</li>
  <li>Start: {{ bookingStart }}</li>
  <li>End: {{ bookingEnd }}</li>
</ul>

<p>This mail has been sent automatically from the booking system. Please do not reply to this email.</p>

<p>Best regards</p>
