<template>
  <div>
    <v-card flat>
      <v-card-title>
        <v-btn icon @click="$router.go(-1)" class="mr-3">
          <v-icon>mdi-arrow-left</v-icon>
        </v-btn>
        Edit Experiment
      </v-card-title>
      <v-card-text>
        <ApiErrorAlert
          v-if="!isDialogOpen"
          :error="errorExperimentsStore"
        ></ApiErrorAlert>
        <div v-if="!loaded">
          <loading-indicator-card></loading-indicator-card>
        </div>
        <div v-else>
          <v-card outlined v-if="editableExperiment">
            <v-card flat class="d-flex flex-row justify-space-between pr-4">
              <v-card-title class="text-subtitle-1">
                Edit experiment (UUID: {{ originalExperimentUuid }})
              </v-card-title>
              <v-card flat class="align-self-end">
                <v-btn
                  color="primary"
                  @click="updateExperiment()"
                  :disabled="updateExperimentDisabled"
                >
                  Update
                </v-btn>
              </v-card>
            </v-card>

            <v-card-text>
              <ApiErrorAlert
                v-if="!isDialogOpen"
                :error="errorExperimentsStore"
              ></ApiErrorAlert>

              <v-card flat>
                <v-container>
                  <v-row align="center">
                    <v-col cols="2">Experiment name:</v-col>
                    <v-col>
                      <v-text-field
                        v-model="editableExperiment.name"
                        @input="experimentChanged()"
                        class="ml-4"
                        :rules="$validationRules.EXPERIMENT_NAME"
                      ></v-text-field>
                    </v-col>
                  </v-row>
                  <v-row align="center">
                    <v-col cols="2">Experiment UUID:</v-col>
                    <v-col>
                      <v-text-field
                        v-model="editableExperiment.uuid"
                        @input="experimentChanged()"
                        class="ml-4"
                        :rules="$validationRules.EXPERIMENT_UUID"
                      ></v-text-field>
                    </v-col>
                  </v-row>
                  <v-row align="center">
                    <v-col cols="2">Config:</v-col>
                    <v-col>
                      <v-select
                        label="Configuration"
                        :items="configs"
                        item-value="uuid"
                        item-text="name"
                        class="ml-4"
                        @change="experimentChanged()"
                        v-model="editableExperiment.config.uuid"
                      ></v-select>
                    </v-col>
                  </v-row>
                  <v-row align="center">
                    <v-col cols="2">Owner:</v-col>
                    <v-col>
                      <v-select
                        label="Owner"
                        :items="adminUsers"
                        item-value="username"
                        class="ml-4"
                        @change="experimentChanged()"
                        v-model="editableExperiment.owner.username"
                      >
                        <template slot="item" slot-scope="data">
                          {{ data.item.firstname }} {{ data.item.lastname }} ({{
                            data.item.email
                          }})
                        </template>
                        <template slot="selection" slot-scope="data">
                          {{ data.item.firstname }} {{ data.item.lastname }}
                        </template>
                      </v-select>
                    </v-col>
                  </v-row>
                  <v-divider class="my-4"></v-divider>
                  <v-row>
                    <v-col cols="2">Tasks:</v-col>
                    <v-col>
                      <v-card outlined>
                        <v-card-text>
                          <v-data-table
                            :items="editableExperiment.tasks"
                            :headers="headersTasksTable"
                          >
                            <template v-slot:top>
                              <v-toolbar dense flat>
                                <v-spacer></v-spacer>
                                <v-btn
                                  small
                                  text
                                  @click="showDialogCreateNewTask(true)"
                                >
                                  Create new task
                                </v-btn>
                                <AddEditTaskDialog
                                  v-model="dialogCreateNewTask"
                                  :experiment-uuid="originalExperimentUuid"
                                  :is-edit-mode="false"
                                >
                                </AddEditTaskDialog>
                              </v-toolbar>
                            </template>
                            <template v-slot:item.actions="{ item }">
                              <v-btn
                                icon
                                small
                                @click="showDialogEditTask(item.uuid, true)"
                              >
                                <v-icon small>edit</v-icon>
                              </v-btn>
                              <AddEditTaskDialog
                                v-model="dialogEditTask[item.uuid]"
                                :experiment-uuid="originalExperimentUuid"
                                :task="item"
                                :is-edit-mode="true"
                              >
                              </AddEditTaskDialog>
                              <v-btn
                                icon
                                small
                                @click="showDialogDeleteTask(item.uuid, true)"
                              >
                                <v-icon small>delete</v-icon></v-btn
                              >
                              <v-dialog
                                v-model="dialogDeleteTask[item.uuid]"
                                max-width="500"
                              >
                                <v-card>
                                  <v-card-title>Delete task</v-card-title>
                                  <v-card-text>
                                    Are you sure that you want to remove task
                                    {{ item.name }}
                                    from experiment?
                                  </v-card-text>
                                  <v-card-actions
                                    class="
                                      d-flex
                                      flex-row
                                      justify-space-between
                                    "
                                  >
                                    <v-btn
                                      text
                                      @click="
                                        deleteTaskFromExperiment(
                                          originalExperimentUuid,
                                          item.uuid
                                        )
                                      "
                                    >
                                      Yes
                                    </v-btn>
                                    <v-btn
                                      text
                                      @click="
                                        showDialogDeleteTask(item.uuid, false)
                                      "
                                    >
                                      Cancel
                                    </v-btn>
                                  </v-card-actions>
                                </v-card>
                              </v-dialog>
                            </template>
                          </v-data-table>
                        </v-card-text>
                      </v-card>
                    </v-col>
                  </v-row>

                  <v-divider class="my-4"></v-divider>
                  <v-row>
                    <v-col cols="2"> Operators </v-col>
                    <v-col>
                      <v-card outlined>
                        <v-card-text>
                          <v-data-table
                            :items="editableExperiment.operators"
                            :headers="headersOperatorsTable"
                          >
                            <template v-slot:top>
                              <v-toolbar dense flat>
                                <v-spacer></v-spacer>
                                <v-btn
                                  small
                                  text
                                  @click="showDialogAddOperators(true)"
                                >
                                  Add operators
                                </v-btn>
                                <AddOperatorsDialog
                                  :experiment-uuid="originalExperimentUuid"
                                  :current-operators="
                                    editableExperiment.operators
                                  "
                                  v-model="dialogAddOperators"
                                ></AddOperatorsDialog>
                              </v-toolbar>
                            </template>
                            <template v-slot:item.name="{ item }">
                              {{ item.firstname }} {{ item.lastname }}
                            </template>
                            <template v-slot:item.actions="{ item }">
                              <v-btn
                                icon
                                small
                                @click="
                                  showDialogRemoveOperator(item.username, true)
                                "
                              >
                                <v-icon small>remove</v-icon></v-btn
                              >
                              <v-dialog
                                v-model="dialogRemoveOperator[item.username]"
                                max-width="500"
                              >
                                <v-card>
                                  <v-card-title>Remove operator</v-card-title>
                                  <v-card-text>
                                    Are you sure that you want to remove
                                    operator
                                    {{ item.username }} ({{ item.email }}) from
                                    experiment?
                                  </v-card-text>
                                  <v-card-actions
                                    class="
                                      d-flex
                                      flex-row
                                      justify-space-between
                                    "
                                  >
                                    <v-btn
                                      text
                                      @click="
                                        removeOperatorFromExperiment(
                                          item.username
                                        )
                                      "
                                    >
                                      Yes
                                    </v-btn>
                                    <v-btn
                                      text
                                      @click="
                                        showDialogRemoveOperator(
                                          item.username,
                                          false
                                        )
                                      "
                                    >
                                      Cancel
                                    </v-btn>
                                  </v-card-actions>
                                </v-card>
                              </v-dialog>
                            </template>
                          </v-data-table>
                        </v-card-text>
                      </v-card>
                    </v-col>
                  </v-row>

                  <v-divider class="my-4"></v-divider>
                  <v-row>
                    <v-col cols="2"> Participants </v-col>
                    <v-col>
                      <v-card outlined>
                        <v-card-text>
                          <v-data-table
                            :items="editableExperiment.participants"
                            :headers="headersParticipantsTable"
                          >
                            <template v-slot:top>
                              <v-toolbar dense flat>
                                <v-spacer></v-spacer>
                                <v-btn
                                  small
                                  text
                                  @click="dialogAddParticipants = true"
                                >
                                  Add participants
                                </v-btn>
                                <AddParticipantsDialog
                                  :experiment-uuid="originalExperimentUuid"
                                  :current-participants="
                                    editableExperiment.participants
                                  "
                                  v-model="dialogAddParticipants"
                                ></AddParticipantsDialog>
                              </v-toolbar>
                            </template>
                            <template v-slot:item.name="{ item }">
                              {{ item.firstname }} {{ item.lastname }}
                            </template>
                            <template v-slot:item.actions="{ item }">
                              <v-btn
                                icon
                                small
                                @click="
                                  showDialogRemoveParticipant(item.uuid, true)
                                "
                              >
                                <v-icon small>remove</v-icon></v-btn
                              >
                              <v-dialog
                                v-model="dialogRemoveParticipant[item.uuid]"
                                max-width="500"
                              >
                                <v-card>
                                  <v-card-title
                                    >Remove participant</v-card-title
                                  >
                                  <v-card-text>
                                    Are you sure that you want to remove
                                    participant
                                    {{ item.uuid }} ({{ item.shortNote }}) from
                                    experiment?
                                  </v-card-text>
                                  <v-card-actions
                                    class="
                                      d-flex
                                      flex-row
                                      justify-space-between
                                    "
                                  >
                                    <v-btn
                                      text
                                      @click="
                                        removeParticipantFromExperiment(
                                          item.uuid
                                        )
                                      "
                                    >
                                      Yes
                                    </v-btn>
                                    <v-btn
                                      text
                                      @click="
                                        showDialogRemoveParticipant(
                                          item.uuid,
                                          false
                                        )
                                      "
                                    >
                                      Cancel
                                    </v-btn>
                                  </v-card-actions>
                                </v-card>
                              </v-dialog>
                            </template>
                          </v-data-table>
                        </v-card-text>
                      </v-card>
                    </v-col>
                  </v-row>
                </v-container>
              </v-card>
            </v-card-text>
          </v-card>
        </div>
      </v-card-text>
    </v-card>
    <v-snackbar v-model="snackbars.success" color="green" :timeout="2000">
      {{ snackbarMessage }}
    </v-snackbar>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import cloneDeep from 'lodash.clonedeep'
import ApiErrorAlert from '~/components/errors/api-error-alert.vue'
import LoadingIndicatorCard from '~/components/cards/loading-indicator-card.vue'
import AddEditTaskDialog from '~/components/dialogs/add-edit-task.dialog.vue'
import AddOperatorsDialog from '~/components/dialogs/add-operators.dialog.vue'
import AddParticipantsDialog from '~/components/dialogs/add-participants.dialog.vue'
import { ApiError } from '~/store/interfaces/api-error'
import { ExperimentsModuleState } from '~/store/experiments'
import { Experiment } from '~/store/interfaces/experiment'
import { UpdateExperimentDto } from '~/store/interfaces/dtos/update-experiment.dto'
import { ConfigsModuleState } from '~/store/configs'
import { Config } from '~/store/interfaces/config'
import { ParticipantsModuleState } from '~/store/participants'
import { Participant } from '~/store/interfaces/participant'
import { User } from '~/store/interfaces/user'
import { UsersModuleState } from '~/store/users'

export default Vue.extend({
  layout: 'admin_layout',
  components: {
    ApiErrorAlert,
    LoadingIndicatorCard,
    AddEditTaskDialog,
    AddOperatorsDialog,
    AddParticipantsDialog,
  },
  data() {
    return {
      errorMessageForm: '',
      updateExperimentDisabled: true,
      snackbars: {
        success: false,
      },
      snackbarMessage: '',
      editableExperiment: null as Experiment | null,
      originalExperimentUuid: '',
      headersTasksTable: [
        { text: 'UUID', value: 'uuid' },
        { text: 'Task name', value: 'name' },
        { text: 'Task description', value: 'description' },
        { text: 'Actions', value: 'actions' },
      ],
      headersOperatorsTable: [
        { text: 'Name', value: 'name' },
        { text: 'Username', value: 'username' },
        { text: 'Email', value: 'email' },
        { text: 'Actions', value: 'actions' },
      ],
      headersParticipantsTable: [
        { text: 'UUID', value: 'uuid' },
        { text: 'Short note', value: 'shortNote' },
        { text: 'Actions', value: 'actions' },
      ],
      dialogCreateNewTask: false,
      dialogEditTask: {},
      dialogDeleteTask: {},
      dialogAddOperators: false,
      dialogRemoveOperator: {},
      dialogAddParticipants: false,
      dialogRemoveParticipant: {},
    }
  },
  computed: {
    experimentsModuleState(): ExperimentsModuleState {
      return this.$store.state.experiments as ExperimentsModuleState
    },
    experiment(): Experiment | null {
      return this.experimentsModuleState.experiment
    },
    experiments(): Experiment[] {
      return this.experimentsModuleState.experiments
    },
    errorExperimentsStore(): ApiError | null {
      return this.experimentsModuleState.error
    },
    configsModuleState(): ConfigsModuleState {
      return this.$store.state.configs as ConfigsModuleState
    },
    configs(): Config[] {
      return this.configsModuleState.configs
    },
    participantsModuleState(): ParticipantsModuleState {
      return this.$store.state.participants as ParticipantsModuleState
    },
    participants(): Participant[] {
      return this.participantsModuleState.participants
    },
    usersModuleState(): UsersModuleState {
      return this.$store.state.users as UsersModuleState
    },
    adminUsers(): User[] {
      return this.$store.getters['users/adminUsers']
    },
    operatorUsers(): User[] {
      return this.$store.getters['users/operatorUsers']
    },
    loaded(): boolean {
      return (
        this.experimentsModuleState.experimentFetched &&
        this.configsModuleState.configsFetched &&
        this.participantsModuleState.participantsFetched &&
        this.usersModuleState.usersFetched
      )
    },
    isDialogOpen(): boolean {
      return (
        this.dialogCreateNewTask ||
        Object.values(this.dialogEditTask).includes(true) ||
        this.dialogAddParticipants ||
        Object.values(this.dialogRemoveParticipant).includes(true) ||
        this.dialogAddOperators ||
        Object.values(this.dialogRemoveOperator).includes(true)
      )
    },
  },
  mounted() {
    this.$store.dispatch('experiments/FETCH_EXPERIMENT', {
      experimentUuid: this.$route.params.experiment_uuid,
    })
    this.$store.dispatch('users/FETCH_USERS')
    this.$store.dispatch('participants/FETCH_PARTICIPANTS')
    this.$store.dispatch('configs/FETCH_CONFIGS')
  },
  watch: {
    experiment() {
      if (this.experiment) {
        this.editableExperiment = cloneDeep(this.experiment)
        // We allow to update the experiment UUID
        // => we save the original experiment UUID to allow to update the experiment
        // [PUT] http://[host]:[port]/experiments/[:originalExperimentUuid]
        this.originalExperimentUuid = this.experiment.uuid
      }
    },
  },
  methods: {
    async resetErrorExperimentsStore() {
      await this.$store.dispatch('experiments/RESET_ERROR')
    },
    async updateExperiment() {
      if (this.editableExperiment === null) {
        return
      }
      const experimentUuidChanged =
        this.editableExperiment.uuid !== this.originalExperimentUuid

      const updateExperimentDto: UpdateExperimentDto = {
        uuid: this.editableExperiment.uuid,
        name: this.editableExperiment.name,
        configUuid: this.editableExperiment.config.uuid,
        ownerUsername: this.editableExperiment.owner.username,
      }

      await this.$store.dispatch('experiments/UPDATE_EXPERIMENT', {
        experimentUuid: this.originalExperimentUuid,
        updateExperimentDto,
      })

      if (this.errorExperimentsStore === null) {
        this.snackbars.success = true
        this.snackbarMessage = 'Experiment successfully updated'
        this.updateExperimentDisabled = true

        if (experimentUuidChanged) {
          // Upon success, set the original experiment uuid to the updated one (for future updates)
          // this.originalExperimentUuid = this.editableExperiment.uuid

          // reload page
          await this.$router.replace(
            `/admin/experiments_configuration/experiments/${this.editableExperiment.uuid}`
          )
        }
      }
    },
    experimentChanged() {
      this.updateExperimentDisabled = false
    },

    async removeParticipantFromExperiment(participantUuid: string) {
      await this.$store.dispatch(
        'experiments/REMOVE_PARTICIPANTS_FROM_EXPERIMENT',
        {
          experimentUuid: this.originalExperimentUuid,
          participantUuid,
        }
      )

      if (this.errorExperimentsStore === null) {
        this.snackbars.success = true
        this.snackbarMessage =
          'Participant successfully removed from experiment'
      }

      this.showDialogRemoveParticipant(participantUuid, false)
    },

    async deleteTaskFromExperiment(experimentUuid: string, taskUuid: string) {
      await this.$store.dispatch('experiments/DELETE_TASK_FROM_EXPERIMENT', {
        experimentUuid,
        taskUuid,
      })
      this.showDialogDeleteTask(taskUuid, false)
    },
    async showDialogCreateNewTask(showDialog: boolean) {
      // Reset error when closing/opening edit dialog if any
      if (this.errorExperimentsStore !== null) {
        await this.resetErrorExperimentsStore()
      }

      this.dialogCreateNewTask = showDialog
    },

    async showDialogEditTask(taskUuid: string, showDialog: boolean) {
      // Reset error when closing/opening edit dialog if any
      if (this.errorExperimentsStore !== null) {
        await this.resetErrorExperimentsStore()
      }
      this.$set(this.dialogEditTask, taskUuid, showDialog)
    },
    showDialogDeleteTask(taskUuid: string, showDialog: boolean) {
      if (showDialog) {
        this.resetErrorExperimentsStore()
      }

      this.$set(this.dialogDeleteTask, taskUuid, showDialog)
    },
    showDialogRemoveOperator(operatorUsername: string, showDialog: boolean) {
      if (showDialog) {
        this.resetErrorExperimentsStore()
      }
      this.$set(this.dialogRemoveOperator, operatorUsername, showDialog)
    },
    async removeOperatorFromExperiment(username: string) {
      await this.$store.dispatch(
        'experiments/REMOVE_OPERATOR_FROM_EXPERIMENT',
        {
          experimentUuid: this.originalExperimentUuid,
          operatorUsername: username,
        }
      )

      if (this.errorExperimentsStore === null) {
        this.snackbars.success = true
        this.snackbarMessage = 'Operator successfully removed from experiment'
      }

      this.showDialogRemoveOperator(username, false)
    },
    showDialogRemoveParticipant(participantUuid: string, showDialog: boolean) {
      if (showDialog) {
        this.resetErrorExperimentsStore()
      }

      this.$set(this.dialogRemoveParticipant, participantUuid, showDialog)
    },
    showDialogAddOperators(showDialog: boolean) {
      if (showDialog) {
        this.resetErrorExperimentsStore()
      }

      this.dialogAddOperators = showDialog
    },
  },
})
</script>

<style scoped>
.activeConfig {
  background-color: #81c784;
  font-weight: bold;
}
</style>
