<template>
  <div>
    <v-card flat>
      <v-card-title> Experiments </v-card-title>
      <v-card-text>
        Experiments defines an experiment to be conducted in the instrumented
        apartment. An experiment has the following properties:
        <ul>
          <li>Name</li>
          <li>UUID: unique identifier for the experiment</li>
          <li>Owner: the user which created first the experiment</li>
          <li>
            Operators: users authorized to operate the experiment (start/stop
            recordings)
          </li>
          <li>
            Participants: anonymized persons taking part to the experiment
          </li>
          <li>
            Completed: once an experiment is completed, it becomes immutable
          </li>
        </ul>
      </v-card-text>
    </v-card>
    <v-card flat>
      <v-card-title>Experiment lifecycle</v-card-title>
      <v-card-text>
        <p>
          Only one experiment can be active at a time. The active experiment is
          highlighted in green in the experiments table below.
        </p>
        <p>
          Changing the active experiment can only be done once the DB is empty
          (i.e. when the data has been exported).
        </p>
        <strong>Recording process</strong>
        <ol>
          <li>Select a participant</li>
          <li>Select a task for the participant</li>
          <li>Click on start recording</li>
          <li>Jump to the next task once the current task is complete</li>
          <li>Increment the trial if you need to repeat a task</li>
          <li>Stop recording</li>
          <li>Select another participant and repeat the steps above</li>
          <li>Export the data of the experiment</li>
        </ol>
      </v-card-text>
    </v-card>

    <v-img width="900" src="/workflow-experiment-recording.png"></v-img>

    <v-divider class="mt-8"></v-divider>

    <ApiErrorAlert :error="errorExperimentsStore"></ApiErrorAlert>
    <div v-if="!loaded">
      <LoadingIndicatorCard></LoadingIndicatorCard>
    </div>
    <div v-else>
      <v-card flat>
        <v-card-title>Experiments</v-card-title>
      </v-card>

      <v-card flat class="d-flex justify-end py-2">
        <v-btn
          v-if="showCompleteExperimentBtn()"
          :disabled="!selectedActiveExperimentUuid"
          outlined
          small
          @click="setSelectedExperimentAsCompleted()"
          class="mr-2"
        >
          Flag selected experiment as complete
        </v-btn>
        <v-btn
          :disabled="!selectedActiveExperimentUuid"
          outlined
          small
          @click="setSelectedExperimentAsActive()"
        >
          Set selected experiment as active
        </v-btn>
      </v-card>
      <v-data-table
        dense
        :items="experiments"
        :headers="experimentsTableHeaders"
      >
        <template v-slot:body="{ items }">
          <tbody>
            <tr
              v-for="experiment in items"
              :key="experiment.uuid"
              :class="{
                activeConfig:
                  activeExperiment &&
                  activeExperiment.experiment.uuid === experiment.uuid,
              }"
            >
              <td>
                <v-radio-group v-model="selectedActiveExperimentUuid">
                  <v-radio :value="experiment.uuid"></v-radio>
                </v-radio-group>
              </td>
              <td>{{ experiment.name }}</td>
              <td>
                {{ experiment.tasks.length }}
              </td>
              <td>{{ experiment.owner.username }}</td>
              <td>{{ experiment.config.name }}</td>
              <td>
                <ul>
                  <li
                    v-for="operator in experiment.operators"
                    :key="operator.username"
                  >
                    {{ operator.firstname }} {{ operator.lastname }} ({{
                      operator.email
                    }})
                  </li>
                </ul>
              </td>
              <td>
                {{ experiment.participants.length }}
              </td>
              <td>{{ $getFormattedDateTime(experiment.createdAt) }}</td>
              <td>{{ experiment.completed }}</td>
              <td>
                {{
                  experiment.completedAt
                    ? $getFormattedDateTime(experiment.completedAt)
                    : ''
                }}
              </td>
              <td>
                <v-btn
                  v-if="!experiment.completed"
                  outlined
                  x-small
                  @click="editExperiment(experiment.uuid)"
                  >Edit</v-btn
                >
              </td>
            </tr>
          </tbody>
        </template>
      </v-data-table>

      <v-btn class="mt-4" small text @click="showDialogCreateNewExperiment()"
        >Create new experiment</v-btn
      >
      <v-dialog v-model="dialogCreateNewExperiment" persistent max-width="800">
        <v-card>
          <v-card-title class="headline"> New experiment dialog </v-card-title>
          <v-card-text>
            <FormError :error="errorMessageForm"></FormError>
            <ApiErrorAlert :error="errorExperimentsStore"></ApiErrorAlert>

            <v-text-field
              label="New experiment name"
              v-model="newExperiment.name"
              :rules="$validationRules.EXPERIMENT_NAME"
            ></v-text-field>

            <v-text-field
              label="New experiment UUID"
              v-model="newExperiment.uuid"
              append-icon="mdi-auto-fix"
              :rules="$validationRules.EXPERIMENT_UUID"
              @click:append="generateUUID()"
            ></v-text-field>

            <v-select
              label="Configuration"
              :items="configs"
              item-value="uuid"
              item-text="name"
              v-model="newExperiment.configUuid"
            ></v-select>

            <v-select
              label="Owner"
              :items="adminUsers"
              item-value="username"
              v-model="newExperiment.ownerUsername"
            >
              <template slot="item" slot-scope="data">
                {{ data.item.firstname }} {{ data.item.lastname }} ({{
                  data.item.email
                }})
              </template>
              <template slot="selection" slot-scope="data">
                {{ data.item.firstname }} {{ data.item.lastname }}
              </template>
            </v-select>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              color="green darken-1"
              text
              @click="dialogCreateNewExperiment = false"
            >
              Cancel
            </v-btn>
            <v-btn color="green darken-1" text @click="createNewExperiment()">
              Create Experiment
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </div>
    <v-snackbar v-model="snackbars.success" color="green" :timeout="2000">
      {{ snackbarMessage }}
    </v-snackbar>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import { v4 as uuidv4 } from 'uuid'
import FormError from '~/components/errors/form-error.vue'
import ApiErrorAlert from '~/components/errors/api-error-alert.vue'
import LoadingIndicatorCard from '~/components/cards/loading-indicator-card.vue'
import { ApiError } from '~/store/interfaces/api-error'
import { ExperimentsModuleState } from '~/store/experiments'
import { Experiment } from '~/store/interfaces/experiment'
import { ConfigsModuleState } from '~/store/configs'
import { Config } from '~/store/interfaces/config'
import { ParticipantsModuleState } from '~/store/participants'
import { Participant } from '~/store/interfaces/participant'
import { User } from '~/store/interfaces/user'
import { CreateExperimentDto } from '~/store/interfaces/dtos/create-experiment.dto'
import { UsersModuleState } from '~/store/users'
import { ActiveExperiment } from '~/store/interfaces/active-experiment'

export default Vue.extend({
  layout: 'admin_layout',
  components: {
    ApiErrorAlert,
    LoadingIndicatorCard,
    FormError,
  },
  data() {
    return {
      newExperiment: {
        uuid: '',
        name: '',
        configUuid: '',
        ownerUsername: '',
      } as CreateExperimentDto,
      experimentsTableHeaders: [
        { text: 'Select' },
        { text: 'Experiment name' },
        { text: 'Tasks' },
        { text: 'Experiment owner' },
        { text: 'Config' },
        { text: 'Operators' },
        { text: 'Participants' },
        { text: 'Created At' },
        { text: 'Completed' },
        { text: 'Completed At' },
        { text: 'Action' },
      ],
      editableExperiment: null as Experiment | null,
      errorMessageForm: '',
      dialogCreateNewExperiment: false,
      updateExperimentDisabled: true,
      showAddParticipants: false,
      showAddOperators: false,
      participantsToAdd: [] as string[],
      operatorsToAdd: [] as string[],
      originalExperimentUuid: '',
      snackbars: {
        success: false,
      },
      snackbarMessage: '',
      selectedActiveExperimentUuid: null as string | null,
    }
  },
  computed: {
    experimentsModuleState(): ExperimentsModuleState {
      return this.$store.state.experiments as ExperimentsModuleState
    },
    experiment(): Experiment | null {
      return this.experimentsModuleState.experiment
    },
    experiments(): Experiment[] {
      return this.experimentsModuleState.experiments
    },
    errorExperimentsStore(): ApiError | null {
      return this.experimentsModuleState.error
    },
    activeExperiment(): ActiveExperiment | null {
      return this.experimentsModuleState.activeExperiment
    },
    configsModuleState(): ConfigsModuleState {
      return this.$store.state.configs as ConfigsModuleState
    },
    configs(): Config[] {
      return this.configsModuleState.configs
    },
    participantsModuleState(): ParticipantsModuleState {
      return this.$store.state.participants as ParticipantsModuleState
    },
    participants(): Participant[] {
      return this.participantsModuleState.participants
    },
    usersModuleState(): UsersModuleState {
      return this.$store.state.users as UsersModuleState
    },
    adminUsers(): User[] {
      return this.$store.getters['users/adminUsers']
    },
    operatorUsers(): User[] {
      return this.$store.getters['users/operatorUsers']
    },
    loaded(): boolean {
      return (
        this.experimentsModuleState.experimentsFetched &&
        this.usersModuleState.usersFetched
      )
    },
  },
  created() {
    this.listExperiments()
  },
  async fetch() {
    await this.$store.dispatch('experiments/RESET_ERROR')
    await this.$store.dispatch('users/FETCH_USERS')
    await this.$store.dispatch('configs/FETCH_CONFIGS')
    await this.listExperiments()
    if (this.experiments.length > 0) {
      this.fetchActiveExperiment()
    }
  },
  watch: {
    activeExperiment() {
      if (this.activeExperiment) {
        this.selectedActiveExperimentUuid =
          this.activeExperiment.experiment.uuid
      }
    },
  },
  methods: {
    async listExperiments() {
      await this.$store.dispatch('experiments/FETCH_EXPERIMENTS')
    },
    async fetchActiveExperiment() {
      await this.$store.dispatch('experiments/FETCH_ACTIVE_EXPERIMENT')
    },
    async createNewExperiment() {
      await this.$store.dispatch('experiments/CREATE_EXPERIMENT', {
        createExperimentDto: this.newExperiment,
      })

      if (this.errorExperimentsStore === null) {
        this.dialogCreateNewExperiment = false
        await this.listExperiments()
      }
    },
    async showDialogCreateNewExperiment() {
      await this.$store.dispatch('experiments/RESET_ERROR')
      this.resetNewExperimentInfo()

      this.dialogCreateNewExperiment = true
    },
    resetNewExperimentInfo() {
      this.newExperiment.name = ''
      this.newExperiment.ownerUsername = ''
      this.newExperiment.configUuid = ''
      this.newExperiment.uuid = ''
    },
    editExperiment(experimentUuid: string) {
      this.$router.push(
        `/admin/experiments_configuration/experiments/${experimentUuid}`
      )
    },
    generateUUID() {
      this.newExperiment.uuid = uuidv4()
    },

    async setSelectedExperimentAsActive() {
      await this.$store.dispatch('experiments/SET_ACTIVE_EXPERIMENT', {
        experimentUuid: this.selectedActiveExperimentUuid,
      })

      if (this.errorExperimentsStore === null) {
        await this.listExperiments()

        this.snackbars.success = true
        this.snackbarMessage = 'Active config successfully updated'
      }
    },
    showCompleteExperimentBtn(): boolean {
      /*
      const selectedExperiment = this.experiments.find(
        (experiment) => experiment.uuid === this.selectedActiveExperimentUuid
      )

      return selectedExperiment ? !selectedExperiment.completed : false

       */

      // The process to "complete" an experiment needs to be further discussed.
      return false
    },
    async setSelectedExperimentAsCompleted() {
      await this.$store.dispatch('experiments/COMPLETE_EXPERIMENT', {
        experimentUuid: this.selectedActiveExperimentUuid,
      })
      if (this.errorExperimentsStore === null) {
        await this.listExperiments()
        await this.fetchActiveExperiment()

        this.snackbars.success = true
        this.snackbarMessage = 'Experiment successfully completed'
      }
    },
  },
})
</script>

<style scoped>
.activeConfig {
  background-color: #81c784;
  font-weight: bold;
}
</style>
