<template>
  <ul>
    <li>Experiment name: {{ activeExperiment.experiment.name }}</li>
    <li>Experiment UUID: {{ activeExperiment.experiment.uuid }}</li>
    <li>
      <v-card flat class="d-flex flex-row align-center">
        Is recording:
        <v-card
          :color="statusColor"
          width="20"
          height="20"
          class="ml-2"
        ></v-card>
      </v-card>
    </li>
    <li v-if="isRecordingWithActiveExperiment">
      <strong>
        Participant being recorded:
        {{ activeExperiment.participant.uuid }}
      </strong>
    </li>
    <li v-if="isRecordingWithActiveExperiment">
      <strong>
        Current task:
        {{ getTaskNameFromUuid(activeExperiment.taskUuid) }}
      </strong>
    </li>
    <li v-if="isRecordingWithActiveExperiment">
      <strong>
        Current trial:
        {{ activeExperiment.trialNbr }}
      </strong>
    </li>
    <li>
      Participants:
      <ul>
        <li
          v-for="participant in activeExperiment.experiment.participants"
          :key="participant.uuid"
        >
          {{ participant.shortNote }} ({{ participant.uuid }})
        </li>
      </ul>
    </li>
    <li>
      Operators:
      <ul>
        <li
          v-for="operator in activeExperiment.experiment.operators"
          :key="operator.username"
        >
          {{ operator.firstname }} {{ operator.lastname }} ({{
            operator.email
          }})
        </li>
      </ul>
    </li>
    <li>Config: {{ activeExperiment.experiment.config.name }}</li>
    <li>
      Created At:
      {{ $getFormattedDateTime(activeExperiment.experiment.createdAt) }}
    </li>
    <li>
      Started At:
      {{
        activeExperiment.experiment.startedAt
          ? $getFormattedDateTime(activeExperiment.experiment.startedAt)
          : ''
      }}
    </li>
    <li>
      Tasks:
      <ul>
        <li v-for="task in activeExperiment.experiment.tasks" :key="task.uuid">
          {{ task.name }}: {{ task.description }}
        </li>
      </ul>
    </li>
  </ul>
</template>

<script lang="ts">
import Vue, { PropOptions } from 'vue'
import { ActiveExperiment } from '~/store/interfaces/active-experiment'

export default Vue.extend({
  name: 'ExperimentDetailsCard',

  props: {
    activeExperiment: {
      type: Object,
      required: true,
    } as PropOptions<ActiveExperiment>,
  },

  data() {
    return {}
  },

  computed: {
    statusColor(): string {
      return this.isRecordingWithActiveExperiment ? 'green' : 'red'
    },
    isRecordingWithActiveExperiment(): boolean {
      return this.activeExperiment ? this.activeExperiment.isRecording : false
    },
  },

  methods: {
    getTaskNameFromUuid(taskUuid: string) {
      if (!this.activeExperiment) {
        return ''
      }
      const task = this.activeExperiment.experiment.tasks.find(
        (task) => task.uuid === taskUuid
      )
      return task ? task.name : 'Not found'
    },
  },
})
</script>

<style></style>
