<template>
  <v-card flat class="d-flex flex-row">
    <v-card
      flat
      v-for="(bookingType, index) in bookingTypes"
      :key="index"
      class="d-flex flex-row align-center"
    >
      <v-sheet
        tile
        width="15"
        height="15"
        :color="getColorBookingType(bookingType)"
        class="mx-2"
      ></v-sheet>
      <span class="text-caption">{{ bookingType }}</span>
    </v-card>
  </v-card>
</template>

<script lang="ts">
import Vue from 'vue'
import { BookingType } from '~/store/enums/booking-type.enum'

export default Vue.extend({
  name: 'BookingTypesHintCard',

  data() {
    return {
      BookingType,
    }
  },

  computed: {
    bookingTypes(): string[] {
      return Object.keys(BookingType)
    },
  },

  methods: {
    getColorBookingType(bookingType: BookingType) {
      return this.$getBookingColor(bookingType)
    },
  },
})
</script>

<style></style>
