<template>
  <v-card flat tile>
    <v-card-text>
      <span class="text-subtitle-1">
        Bookings as list for room {{ room.name }}
      </span>
      <ul v-for="booking in bookings" :key="booking.uuid" class="mt-4">
        <li>
          <v-chip x-small :color="getColorBooking(booking)">{{
            booking.bookingType
          }}</v-chip>
          <strong>{{ booking.name }}</strong> - Start:
          {{ $getFormattedDateTime(booking.start) }} End:
          {{ $getFormattedDateTime(booking.end) }}
        </li>
      </ul>
      <span v-if="bookings.length === 0">None</span>
    </v-card-text>
  </v-card>
</template>

<script lang="ts">
import Vue, { PropOptions } from 'vue'
import { Booking } from '~/store/interfaces/bookings/bookings'
import { BookingType } from '~/store/enums/booking-type.enum'
import { Room } from '~/store/interfaces/bookings/room'

export default Vue.extend({
  name: 'BookingsListCard',

  props: {
    room: {
      type: Object,
      required: true,
    } as PropOptions<Room>,

    bookings: {
      type: Array,
      required: true,
    } as PropOptions<Booking[]>,
  },

  data() {
    return {}
  },

  computed: {},

  methods: {
    getColorBooking(booking: Booking) {
      return this.$getBookingColor(booking.bookingType)
    },
  },
})
</script>

<style></style>
