<template>
  <v-sheet>
    <v-toolbar flat>
      <v-btn
        small
        outlined
        class="mr-4"
        color="grey darken-2"
        @click="setToday"
      >
        Today
      </v-btn>
      <v-card flat max-width="200">
        <v-select
          v-model="type"
          :items="types"
          dense
          outlined
          hide-details
          class="ma-2"
          label="Calendar type"
        ></v-select>
      </v-card>
      <v-spacer></v-spacer>
      <BookingTypesHintCard></BookingTypesHintCard>
      <v-btn fab text small color="grey darken-2" @click="prev">
        <v-icon small> mdi-chevron-left </v-icon>
      </v-btn>
      <v-btn fab text small color="grey darken-2" @click="next">
        <v-icon small> mdi-chevron-right </v-icon>
      </v-btn>
      <v-toolbar-title v-if="calendarInitialized">
        {{ $refs.calendar.title }}
      </v-toolbar-title>
    </v-toolbar>

    <v-sheet height="450">
      <v-calendar
        ref="calendar"
        v-model="value"
        color="primary"
        :type="type"
        :events="bookingsFormattedForCalendar"
        event-overlap-mode="column"
        show-month-on-first
        show-week
        event-timed="timed"
        @click:event="showEvent"
      >
        <template v-slot:event="{ event }">
          <div class="pl-1" style="font-size: 11px">
            <div v-if="event.timed">
              <strong>
                {{ $getFormattedTimeForCalendar(event.start) }}-{{
                  $getFormattedTimeForCalendar(event.end)
                }}
              </strong>
              : {{ event.name }}
            </div>
            <div v-else>{{ event.name }}</div>
          </div>
        </template>
      </v-calendar>
    </v-sheet>
  </v-sheet>
</template>

<script lang="ts">
import Vue, { PropOptions } from 'vue'
import { Booking } from '~/store/interfaces/bookings/bookings'
import BookingTypesHintCard from '~/components/cards/booking-types-hint-card.vue'
import { BookingType } from '~/store/enums/booking-type.enum'

export default Vue.extend({
  name: 'CalendarBookingsCard',

  components: { BookingTypesHintCard },

  props: {
    bookings: {
      type: Array,
      required: true,
    } as PropOptions<Booking[]>,
  },

  data() {
    return {
      type: 'month',
      types: ['month', 'week', 'day', '4day'],
      value: '',
      BookingType,
      calendarInitialized: false,
    }
  },

  computed: {
    bookingsFormattedForCalendar() {
      return this.bookings.map((booking) => {
        const { uuid, start, end, bookingType, name, room, email } = booking

        // v-calendar works with timestamps in ms since epoch
        const startMs = start * 1000
        const endMs = end * 1000

        // Compute if it's a timed event (if the start has a time)
        const isTimedEvent =
          new Date(startMs).getMinutes() !== 0 ||
          new Date(startMs).getHours() !== 0

        return {
          uuid,
          bookingType,
          name,
          room,
          email,
          timed: isTimedEvent,
          start: startMs,
          end: endMs,
          color: this.$getBookingColor(booking.bookingType),
        }
      })
    },
  },

  mounted() {
    this.calendarInitialized = true
  },

  methods: {
    setToday() {
      this.value = ''
    },
    prev() {
      // @ts-ignore
      this.$refs.calendar.prev()
    },
    next() {
      // @ts-ignore
      this.$refs.calendar.next()
    },
    showEvent({ event }: { event: Booking }) {
      this.$emit('booking-clicked', event)
    },
  },
})
</script>

<style></style>
