<template>
  <v-card outlined>
    <v-card-title class="subtitle-2">
      {{ sensor.location }} - {{ sensor.ip }}
    </v-card-title>

    <v-divider></v-divider>

    <div
      v-if="cameraType === CameraType.NIGHT_VISION_CAMERA"
      class="d-flex flex-row justify-space-between pa-2"
    >
      <v-btn x-small @click="enableNightMode(sensor.ip, true)">
        Turn on night vision
      </v-btn>
      <v-btn x-small @click="enableNightMode(sensor.ip, false)">
        Turn off night vision
      </v-btn>
    </div>

    <div v-if="sample">
      <v-img max-width="450" :src="frame"></v-img>
      <v-divider></v-divider>
      <span class="text-caption">
        {{ $getFormattedDateTime(sample.timestamp) }}
      </span>
    </div>
    <div v-else>
      <v-card
        width="450"
        min-height="300"
        flat
        class="d-flex justify-center align-center"
      >
        <v-icon x-large>no_photography</v-icon>
      </v-card>

      <v-divider></v-divider>
      <span class="text-caption"> No preview </span>
    </div>
    <v-snackbar v-model="snackbar.show" :color="snackbarColor" :timeout="2000">
      {{ snackbarMessage }}
    </v-snackbar>
  </v-card>
</template>

<script lang="ts">
import Vue, { PropOptions } from 'vue'
import { Sensor } from '@/store/interfaces/sensors'
import { AxiosError } from 'axios'
import { CameraDto, NightVisionCameraDto } from '~/store/interfaces/sensors-dto'
import { CameraType } from '~/store/enums/camera-type.enum'
import { CameraLastSample } from '~/store/interfaces/cameras-last-activity'

const PORT_WEBSERVER_CAMERA_SETTINGS = 5000
const ENDPOINT_ENABLE_NIGHT_MODE = 'enable_night_mode'
const ENDPOINT_DISABLE_NIGHT_MODE = 'disable_night_mode'

export default Vue.extend({
  name: 'CameraPreviewCard',

  props: {
    sensor: {
      type: Object,
      required: true,
    } as PropOptions<Sensor>,
    cameraLastSample: {
      type: Object,
    } as PropOptions<CameraLastSample>,
    cameraType: {
      type: String,
      default: CameraType.DAYLIGHT_CAMERA.toString(),
      required: true,
    } as PropOptions<String>,
  },

  data() {
    return {
      CameraType,
      snackbar: {
        show: false,
        success: false,
      },
      snackbarMessage: '',
    }
  },
  computed: {
    sample(): CameraDto | NightVisionCameraDto | null {
      return this.cameraLastSample?.sample
    },
    frame(): string | null {
      return this.sample ? `data:image/jpeg;base64, ${this.sample.data}` : null
    },
    snackbarColor(): string {
      return this.snackbar.success ? 'green' : 'red'
    },
  },
  created() {},
  methods: {
    async enableNightMode(cameraIp: string, enable: boolean) {
      const endpoint = enable
        ? ENDPOINT_ENABLE_NIGHT_MODE
        : ENDPOINT_DISABLE_NIGHT_MODE
      const url = `http://${cameraIp}:${PORT_WEBSERVER_CAMERA_SETTINGS}/${endpoint}`
      try {
        await this.$axios.$get(url, { timeout: 2000 })
        this.snackbarMessage = `Toggle night mode succeeded.`
        this.snackbar.success = true
      } catch (axiosError) {
        const err = axiosError as AxiosError
        console.log(err)
        if (err.response) {
          this.snackbarMessage = `An error occurred. HTTP code= ${err.response.status}`
        } else {
          this.snackbarMessage = `Failed to toggle night mode: ${err.message}`
        }
        this.snackbar.success = false
      }
      this.snackbar.show = true
    },
  },
})
</script>

<style scoped></style>
