<template>
  <v-card outlined>
    <v-card-title> Sensors status </v-card-title>
    <v-card-subtitle>
      Config name: {{ config.name }} ({{ config.uuid }})
    </v-card-subtitle>
    <v-divider></v-divider>
    <v-card-text>
      Filters:
      <v-select
        dense
        label="Sensor types"
        :items="sensorsTypes"
        v-model="filterSensorType"
        clearable
        class="mt-5"
      ></v-select>
      <v-text-field
        dense
        label="Search sensor (ip, location or sensor name)"
        v-model="filterSensorSearch"
        clearable
      ></v-text-field>
    </v-card-text>
    <v-divider></v-divider>

    <v-alert
      v-if="Object.keys(filteredSensorsByType).length === 0"
      outlined
      type="info"
    >
      No sensors found based on the filters. Try to adapt the filters.
    </v-alert>

    <v-card
      flat
      v-for="(sensors, sensorType) in filteredSensorsByType"
      :key="sensorType"
    >
      <v-card-subtitle class="font-weight-bold text-uppercase">
        {{ sensorType }}
      </v-card-subtitle>
      <v-card-text>
        <v-card flat class="d-flex flex-row flex-wrap">
          <sensor-card
            v-for="(sensor, index) in sensors"
            :key="index"
            :sensor="{
              sensorType,
              ...sensor,
              lastSampleReceivedAt: getLastSampleReceivedAtForSensor(
                sensorType,
                sensor.ip
              ),
              lastSample: getLastSampleForSensor(sensorType, sensor.ip),
            }"
            :statusLastRefreshedAt="statusLastRefreshedAt"
            class="mr-2 mb-2"
          ></sensor-card>
        </v-card>
      </v-card-text>

      <v-divider></v-divider>
    </v-card>
  </v-card>
</template>

<script lang="ts">
import Vue, { PropOptions } from 'vue'
import cloneDeep from 'lodash.clonedeep'
import { SensorType } from '~/store/enums/sensor-type.enum'
import { Sensor } from '~/store/interfaces/sensors'
import SensorCard from '~/components/cards/sensor-card.vue'
import { SensorTypeLastReceivedMessage } from '~/store/interfaces/sensor-data-received-message.interface'
import { Config } from '~/store/interfaces/config'
import { CameraDto, DoorDto } from '~/store/interfaces/sensors-dto'

export default Vue.extend({
  name: 'ConfigInfoCard',

  components: { SensorCard },
  props: {
    config: {
      type: Object,
      required: true,
    } as PropOptions<Config>,
  },
  data() {
    return {
      statusLastRefreshedAt: 0 as number,
      filterSensorType: null as null | SensorType,
      filterSensorSearch: '',
    }
  },

  computed: {
    sensorsTypes(): SensorType[] {
      return Object.values(SensorType)
    },
    sensorsByType(): Record<SensorType, Sensor[]> {
      return this.config.sensorsPerType
    },
    filteredSensorsByType(): Record<SensorType, Sensor[]> {
      let res = {} as Record<SensorType, Sensor[]>

      // Filter by sensor type
      if (this.filterSensorType) {
        res[this.filterSensorType] = this.sensorsByType[this.filterSensorType]
      } else {
        res = cloneDeep(this.sensorsByType)
      }

      // Filter by search
      if (this.filterSensorSearch && this.filterSensorSearch !== '') {
        for (const sensorType in res) {
          res[sensorType as SensorType] = res[sensorType as SensorType].filter(
            (sensor: Sensor) => {
              const searchLowercase = this.filterSensorSearch.toLowerCase()
              if (
                sensor.ip.toLowerCase().includes(searchLowercase) ||
                sensor.location.toLowerCase().includes(searchLowercase) ||
                sensor.name.toLowerCase().includes(searchLowercase)
              ) {
                return true
              }

              return false
            }
          )

          // Delete the category if no sensors found
          if (res[sensorType as SensorType].length === 0) {
            delete res[sensorType as SensorType]
          }
        }
      }
      return res
    },
  },
  created() {},
  methods: {
    getLastSampleReceivedAtForSensor(
      sensorType: SensorType,
      sensorIp: string
    ): number | undefined {
      const sensorDataReceivedMessage =
        this.getSensorDataReceivedMessageForSensorType(sensorType)

      if (!sensorDataReceivedMessage) {
        return undefined
      }
      const sensorLastActivity =
        sensorDataReceivedMessage.sensorsLastActivity.find(
          (sensorLastActivity) => sensorLastActivity.ip === sensorIp
        )

      return sensorLastActivity?.lastSampleReceivedAt
    },

    getLastSampleForSensor(
      sensorType: SensorType,
      sensorIp: string
    ): CameraDto | DoorDto | null | undefined {
      // Only retrieve the sample for the doors
      if (sensorType !== SensorType.Door) {
        return null
      }
      const sensorDataReceivedMessage =
        this.getSensorDataReceivedMessageForSensorType(sensorType)

      if (!sensorDataReceivedMessage) {
        return undefined
      }
      const sensorLastActivity =
        sensorDataReceivedMessage.sensorsLastActivity.find(
          (sensorLastActivity) => sensorLastActivity.ip === sensorIp
        )

      return sensorLastActivity?.sample
    },

    getSensorDataReceivedMessageForSensorType(
      sensorType: SensorType
    ): SensorTypeLastReceivedMessage | null {
      return this.$store.getters['sensors/getSensorLastActivityForSensorType'](
        sensorType
      )
    },
    startIntervalRefreshStatus() {
      setInterval(() => {
        this.statusLastRefreshedAt = Date.now()
      }, 5000)
    },
  },
})
</script>

<style scoped></style>
