<template>
  <v-card width="300" class="py-3 d-flex flex-column align-center" flat>
    <v-card flat class="mb-4">
      <v-progress-circular indeterminate color="primary" />
    </v-card>
    <v-card flat>
      <p class="grey--text">{{ $t('actions.fetching_data') }} ...</p>
    </v-card>
  </v-card>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  name: 'LoadingIndicatorCard',
  props: {},
})
</script>

<style></style>
