<template>
  <v-card outlined>
    <v-card-title>
      Save a note ({{ activeExperiment.experiment.name }})
    </v-card-title>
    <v-divider></v-divider>
    <v-card-text>
      <p>
        <v-icon>mdi-help-box</v-icon>
        The note will be added to the logbook. The logbook is exported when
        exporting data of the experiment.
      </p>
      <v-alert type="success" v-if="showNoteSaved" outlined dismissible>
        Note saved:
        <ul>
          <li>
            Datetime: {{ $getFormattedDateTime(experimentLogSaved.datetime) }}
          </li>
          <li>Log: {{ experimentLogSaved.log }}</li>
          <li>ExperimentUuid: {{ experimentLogSaved.experimentUuid }}</li>
          <li>tags: {{ experimentLogSaved.tags }}</li>
          <li>Created by: {{ experimentLogSaved.username }}</li>
        </ul>
      </v-alert>
      <v-text-field
        clearable
        v-model="noteExperiment"
        label="Enter your note here ..."
      ></v-text-field>
    </v-card-text>
    <v-card-actions class="justify-end">
      <v-btn :disabled="!noteExperiment" @click="saveNote()">Save</v-btn>
    </v-card-actions>
  </v-card>
</template>

<script lang="ts">
import Vue, { PropOptions } from 'vue'
import { ActiveExperiment } from '~/store/interfaces/active-experiment'
import { CreateExperimentNoteDto } from '~/store/interfaces/dtos/create-experiment-note.dto'
import { ExperimentsModuleState } from '~/store/experiments'
import { ApiError } from '~/store/interfaces/api-error'
import { ExperimentLog } from '~/store/interfaces/experiment-log'

export default Vue.extend({
  name: 'SaveNoteCard',

  props: {
    activeExperiment: {
      type: Object,
      required: true,
    } as PropOptions<ActiveExperiment>,
  },

  data() {
    return {
      noteExperiment: null as null | string,

      snackbar: false,
      snackbarMessage: '',
      showNoteSaved: false,
    }
  },

  computed: {
    experimentsModuleState(): ExperimentsModuleState {
      return this.$store.state.experiments as ExperimentsModuleState
    },
    errorExperimentsStore(): ApiError | null {
      return this.experimentsModuleState.error
    },
    experimentLogSaved(): null | ExperimentLog {
      return this.experimentsModuleState.experimentLog
    },
  },

  methods: {
    async saveNote() {
      if (this.noteExperiment !== null) {
        this.showNoteSaved = false

        const createExperimentNoteDto: CreateExperimentNoteDto = {
          logLine: this.noteExperiment,
          experimentUuid: this.activeExperiment.experiment.uuid,
        }
        await this.$store.dispatch('experiments/SAVE_NOTE_FOR_EXPERIMENT', {
          createExperimentNoteDto,
        })

        if (this.errorExperimentsStore === null) {
          this.noteExperiment = null
          this.showNoteSaved = true
        }
      }
    },
  },
})
</script>

<style></style>
