<template>
  <v-card outlined width="200">
    <v-card flat min-height="70">
      <v-card-title class="subtitle-2 px-4 pb-2" style="word-break: break-word">
        {{ sensor.name }}
      </v-card-title>
    </v-card>
    <v-card-text class="px-4 pt-0">
      <div v-if="sensorIsActive">
        <v-progress-linear
          color="green"
          rounded
          value="0"
          buffer-value="0"
          stream
        ></v-progress-linear>
      </div>
      <div v-else>
        <v-progress-linear color="red" rounded value="100"></v-progress-linear>
      </div>

      <ul class="mt-4">
        <li>IP: {{ sensor.ip }}</li>
        <li>Location: {{ sensor.location }}</li>
        <li>
          <span :class="sensor.saveData ? 'green--text' : 'red--text'"
            >Save data: {{ sensor.saveData }}</span
          >
        </li>
        <li>
          Last sample received at :
          {{
            sensor.lastSampleReceivedAt
              ? $getFormattedDateTime(sensor.lastSampleReceivedAt)
              : 'N/A'
          }}
        </li>
        <li v-if="sensor.sensorType === SensorType.Door">
          Door open: {{ getDoorOpenStatus(sensor.lastSample) }}
        </li>
      </ul>
    </v-card-text>
  </v-card>
</template>

<script lang="ts">
import Vue, { PropOptions } from 'vue'
import { Sensor } from '@/store/interfaces/sensors'
import { SensorType } from '~/store/enums/sensor-type.enum'
import { DoorDto } from '~/store/interfaces/sensors-dto'

// Time after which a sensor which has not receive data is considered as inactive
// Note: backend send one message at max every 3 seconds
const DELAY_ACTIVE_S = 10

export default Vue.extend({
  name: 'SensorCard',

  props: {
    sensor: {
      type: Object,
      required: true,
    } as PropOptions<Sensor>,
    // Used to refresh the sensor status
    statusLastRefreshedAt: {
      type: Number,
      required: true,
    },
  },

  data() {
    return {
      SensorType,
      timeout: null as null | NodeJS.Timeout,
      delayInactivityElapsed: true,
    }
  },

  computed: {
    lastSampleReceivedAt() {
      return this.sensor.lastSampleReceivedAt
    },

    sensorIsActive(): boolean {
      return !this.delayInactivityElapsed
    },
  },

  created() {
    this.createTimeoutInactivity()
  },

  watch: {
    // Reset the timeout when a new sample is received
    lastSampleReceivedAt() {
      this.clearTimeoutInactivity()
      this.createTimeoutInactivity()
    },
  },
  methods: {
    getDoorOpenStatus(doorDto: DoorDto | null): string {
      if (!doorDto) {
        return 'N/A'
      }

      return String(doorDto.doorOpen)
    },
    createTimeoutInactivity() {
      this.timeout = setTimeout(() => {
        this.delayInactivityElapsed = true
      }, DELAY_ACTIVE_S * 1000)
    },
    clearTimeoutInactivity() {
      this.delayInactivityElapsed = false
      if (this.timeout) {
        clearTimeout(this.timeout)
      }
    },
  },
})
</script>

<style scoped></style>
