<template>
  <v-alert
    v-if="error"
    :value="true"
    type="error"
    transition="scale-transition"
    outlined
    class="ma-4"
  >
    <p>API Error:</p>
    <ul>
      <li>{{ error.topic }}</li>
      <li>HTTP Status Code: {{ error.code }} ({{ error.codeExplanation }})</li>
      <li>Detail: {{ error.detail }}</li>
    </ul>
  </v-alert>
</template>

<script lang="ts">
import Vue, { PropOptions } from 'vue'
import { ApiError } from '~/store/interfaces/api-error'

export default Vue.extend({
  name: 'ApiErrorAlert',
  props: {
    error: {
      type: Object,
    } as PropOptions<ApiError>,
  },
})
</script>

<style></style>
