<template>
  <v-alert v-if="error" :value="true" type="error" outlined class="mb-3">
    {{ error }}
  </v-alert>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  name: 'FormError',
  props: {
    error: {
      type: String,
      default: '',
    },
  },
})
</script>

<style></style>
