<template>
  <v-dialog v-model="dialog" value="true" persistent max-width="800">
    <v-card>
      <v-card-title>
        {{ title }}
        <v-spacer></v-spacer>
        <v-btn icon @click="closeDialog()">
          <v-icon>close</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text>
        <ApiErrorAlert :error="errorBookingsStore"></ApiErrorAlert>

        <FormError :error="errorMessage"></FormError>

        <v-row dense>
          <v-col>
            <v-text-field
              ref="bookingName"
              label="Name"
              v-model="bookingName"
            ></v-text-field>
          </v-col>
          <v-col>
            <v-select
              v-model="bookingType"
              :items="bookingTypes"
              label="Booking type"
            ></v-select>
          </v-col>
        </v-row>
        <v-row dense>
          <v-col>
            <v-menu
              v-model="menuPickerStartDate"
              :close-on-content-click="false"
              :nudge-right="40"
              transition="scale-transition"
              offset-y
              min-width="auto"
            >
              <template v-slot:activator="{ on, attrs }">
                <v-text-field
                  v-model="pickerStartDate"
                  label="Start date"
                  prepend-icon="mdi-calendar"
                  readonly
                  v-bind="attrs"
                  v-on="on"
                ></v-text-field>
              </template>
              <v-date-picker
                v-model="pickerStartDate"
                @input="menuPickerStartDate = false"
              ></v-date-picker>
            </v-menu>
          </v-col>
          <v-col>
            <v-menu
              ref="menuPickerStartTime"
              v-model="menuPickerStartTime"
              :close-on-content-click="false"
              :nudge-right="40"
              :return-value.sync="pickerStartTime"
              transition="scale-transition"
              offset-y
              max-width="290px"
              min-width="290px"
            >
              <template v-slot:activator="{ on, attrs }">
                <v-text-field
                  v-model="pickerStartTime"
                  label="Start time"
                  prepend-icon="mdi-clock-time-four-outline"
                  readonly
                  v-bind="attrs"
                  v-on="on"
                ></v-text-field>
              </template>
              <v-time-picker
                v-if="menuPickerStartTime"
                v-model="pickerStartTime"
                full-width
                @click:minute="$refs.menuPickerStartTime.save(pickerStartTime)"
              ></v-time-picker>
            </v-menu>
          </v-col>
        </v-row>
        <v-row dense>
          <v-col>
            <v-menu
              v-model="menuPickerEndDate"
              :close-on-content-click="false"
              :nudge-right="40"
              transition="scale-transition"
              offset-y
              min-width="auto"
            >
              <template v-slot:activator="{ on, attrs }">
                <v-text-field
                  v-model="pickerEndDate"
                  label="End date"
                  prepend-icon="mdi-calendar"
                  readonly
                  v-bind="attrs"
                  v-on="on"
                ></v-text-field>
              </template>
              <v-date-picker
                v-model="pickerEndDate"
                @input="menuPickerEndDate = false"
              ></v-date-picker>
            </v-menu>
          </v-col>
          <v-col>
            <v-menu
              ref="menuPickerEndTime"
              v-model="menuPickerEndTime"
              :close-on-content-click="false"
              :nudge-right="40"
              transition="scale-transition"
              offset-y
              max-width="290px"
              min-width="290px"
            >
              <template v-slot:activator="{ on, attrs }">
                <v-text-field
                  v-model="pickerEndTime"
                  label="End time"
                  prepend-icon="mdi-calendar"
                  readonly
                  v-bind="attrs"
                  v-on="on"
                ></v-text-field>
              </template>
              <v-time-picker
                v-if="menuPickerEndTime"
                v-model="pickerEndTime"
                full-width
                @click:minute="$refs.menuPickerEndTime.save(pickerEndTime)"
              ></v-time-picker>
            </v-menu>
          </v-col>
        </v-row>
        <v-row>
          <v-col>
            Email address of the person that you would like to notify upon
            creation of this booking and future edits:

            <v-text-field
              ref="email"
              label="Email"
              v-model="email"
              :rules="$validationRules.EMAIL"
              prepend-icon="mdi-email-outline"
            ></v-text-field>
          </v-col>
        </v-row>
      </v-card-text>
      <v-card-actions class="justify-space-between">
        <v-btn text @click="deleteBooking" v-if="isEditMode">Delete</v-btn>
        <v-spacer></v-spacer>
        <v-btn text @click="saveUpdateBooking">
          {{ textSaveEditBtn }}
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script lang="ts">
import Vue, { PropOptions } from 'vue'
import ApiErrorAlert from '~/components/errors/api-error-alert.vue'
import FormError from '~/components/errors/form-error.vue'
import { Booking } from '~/store/interfaces/bookings/bookings'
import { Room } from '~/store/interfaces/bookings/room'
import { BookingType } from '~/store/enums/booking-type.enum'
import { BookingsModuleState } from '~/store/bookings'
import { ApiError } from '~/store/interfaces/api-error'
import { CreateUpdateBookingDto } from '~/store/interfaces/bookings/create-update-booking.dto'
import {
  ManageBookingResultDto,
  ManageBookingStatus,
} from '~/store/interfaces/bookings/manage-booking-result.dto'

export default Vue.extend({
  name: 'AddEditBookingDialog',

  components: { ApiErrorAlert, FormError },

  props: {
    value: {
      type: Boolean,
    } as PropOptions<boolean>,
    isEditMode: {
      type: Boolean,
      default: false,
    } as PropOptions<boolean>,
    room: {
      type: Object,
      required: true,
    } as PropOptions<Room>,
    booking: {
      type: Object,
      required: false,
    } as PropOptions<Booking>,
  },

  computed: {
    bookingTypes() {
      return Object.values(BookingType)
    },
    bookingsModuleState(): BookingsModuleState {
      return this.$store.state.bookings as BookingsModuleState
    },
    errorBookingsStore(): ApiError | null {
      return this.bookingsModuleState.error
    },
    manageBookingResult(): ManageBookingResultDto | null {
      return this.bookingsModuleState.manageBookingResult
    },
    bookingStartDate(): Date | null {
      if (this.pickerStartDate === '') {
        return null
      }
      const dateString = `${this.pickerStartDate} ${this.pickerStartTime}`
      return new Date(dateString)
    },
    bookingEndDate(): Date | null {
      if (this.pickerEndDate === '') {
        return null
      }
      const dateString = `${this.pickerEndDate} ${this.pickerEndTime}`
      return new Date(dateString)
    },
    dialog: {
      get(): boolean {
        return this.value
      },
      set(value: boolean) {
        this.$emit('input', value)
      },
    },
    title(): string {
      return this.isEditMode
        ? `Edit existing booking for room: ${this.room.name}`
        : `Add new booking for room: ${this.room.name}`
    },
    textSaveEditBtn(): string {
      return this.isEditMode ? 'Edit' : 'Save'
    },
  },

  data() {
    return {
      bookingName: '',

      bookingType: null as null | BookingType,

      isValid: false,
      pickerStartDate: '',
      pickerStartTime: '',
      pickerEndDate: '',
      pickerEndTime: '',

      menuPickerStartDate: false,
      menuPickerStartTime: false,
      menuPickerEndDate: false,
      menuPickerEndTime: false,

      errorMessage: '',

      email: '',
    }
  },

  mounted() {
    if (this.isEditMode) {
      this.bookingName = this.booking.name
      this.bookingType = this.booking.bookingType
      this.pickerStartDate = this.formatDateForDatePicker(this.booking.start)
      this.pickerEndDate = this.formatDateForDatePicker(this.booking.end)
      this.pickerStartTime = this.formatTimeForTimePicker(this.booking.start)
      this.pickerEndTime = this.formatTimeForTimePicker(this.booking.end)
      if (this.booking.email) {
        this.email = this.booking.email
      }
    }
  },
  methods: {
    formatDateForDatePicker(timestampMs: number) {
      const date = new Date(timestampMs)
      return `${date.getFullYear()}-${date.getMonth() + 1}-${date.getDate()}`
    },
    formatTimeForTimePicker(timestampMs: number) {
      return this.$getFormattedTimeForCalendar(timestampMs)
    },
    async saveUpdateBooking() {
      if (this.bookingName.length === 0) {
        this.errorMessage = 'Please set a name for the booking'
        return
      }
      if (this.bookingType === null) {
        this.errorMessage = 'Please select a type for the booking'
        return
      }
      if (this.bookingStartDate === null) {
        this.errorMessage = 'Please select a start date'
        return
      }

      if (this.bookingEndDate === null) {
        this.errorMessage = 'Please select a end date'
        return
      }

      if (
        this.email !== '' &&
        !this.$validationRules.isValidEmail(this.email)
      ) {
        this.errorMessage = 'Please enter a valid email'
        return
      }

      const createUpdateBookingDto: CreateUpdateBookingDto = {
        name: this.bookingName,
        bookingType: this.bookingType,
        start: this.bookingStartDate.getTime() / 1000,
        end: this.bookingEndDate.getTime() / 1000,
      }

      if (this.email !== '') {
        createUpdateBookingDto.email = this.email
      }
      if (this.isEditMode) {
        await this.$store.dispatch('bookings/UPDATE_BOOKING_FOR_ROOM', {
          roomUuid: this.room.uuid,
          bookingUuid: this.booking.uuid,
          createUpdateBookingDto,
        })
      } else {
        await this.$store.dispatch('bookings/CREATE_BOOKING_FOR_ROOM', {
          roomUuid: this.room.uuid,
          createUpdateBookingDto,
        })
      }

      if (this.errorBookingsStore === null) {
        if (
          this.manageBookingResult !== null &&
          this.manageBookingResult.status !== ManageBookingStatus.SUCCESS
        ) {
          // We do not close the dialog to notify about the error
          this.errorMessage = this.manageBookingResult.errorMessage
        } else {
          // Emit that booking has been edited (parent will close dialog)
          // eslint-disable-next-line no-lonely-if
          if (this.isEditMode) {
            this.$emit('booking-edited', {
              roomUuid: this.room.uuid,
              message: 'Booking edited',
            })
          } else {
            this.$emit('booking-edited', {
              roomUuid: this.room.uuid,
              message: 'Booking created',
            })
          }
        }
      }
    },

    async deleteBooking() {
      if (this.booking !== null) {
        await this.$store.dispatch('bookings/DELETE_BOOKING', {
          bookingUuid: this.booking.uuid,
        })
      }

      if (this.errorBookingsStore === null) {
        if (
          this.manageBookingResult !== null &&
          this.manageBookingResult.status !== ManageBookingStatus.SUCCESS
        ) {
          // We do not close the dialog to notify about the error
          this.errorMessage = this.manageBookingResult.errorMessage
        } else {
          // Emit that booking has been edited (parent will close dialog)
          this.$emit('booking-edited', {
            roomUuid: this.room.uuid,
            message: 'Booking deleted',
          })
        }
      }
    },

    closeDialog() {
      this.dialog = false
      this.$emit('booking-dialog-closed', { roomUuid: this.room.uuid })
    },
  },
})
</script>
