<template>
  <v-dialog v-model="dialog" max-width="500">
    <v-card>
      <v-card-title>Add operators</v-card-title>
      <v-card-text>
        <ApiErrorAlert :error="errorExperimentsStore"></ApiErrorAlert>

        <v-icon small color="blue">help</v-icon>
        The drop down below only shows the remaining operators which are not yet
        already defined as operators for this experiment.

        <v-card flat class="d-flex flex-row align-center">
          <v-select
            :items="remainingOperatorsToAdd"
            label="Select operators to add"
            item-text="username"
            item-value="username"
            v-model="operatorsToAdd"
            hint="Displays only the remaining operators"
            multiple
          ></v-select>
          <v-btn
            outlined
            small
            class="ml-4"
            @click="addOperatorsToExperiment()"
            :disabled="operatorsToAdd.length === 0"
          >
            Add
          </v-btn>
        </v-card>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script lang="ts">
import Vue, { PropOptions } from 'vue'
import ApiErrorAlert from '~/components/errors/api-error-alert.vue'
import { User } from '~/store/interfaces/user'
import { ExperimentsModuleState } from '~/store/experiments'
import { ApiError } from '~/store/interfaces/api-error'

export default Vue.extend({
  name: 'AddOperatorsDialog',

  components: { ApiErrorAlert },

  props: {
    value: {
      type: Boolean,
    },
    experimentUuid: {
      type: String,
      required: true,
    } as PropOptions<string>,
    currentOperators: {
      type: Array,
      required: true,
    } as PropOptions<User[]>,
  },

  data() {
    return {
      operatorsToAdd: [] as string[],
    }
  },

  computed: {
    dialog: {
      get(): boolean {
        return this.value
      },
      set(value: boolean) {
        this.$emit('input', value)
      },
    },
    experimentsModuleState(): ExperimentsModuleState {
      return this.$store.state.experiments as ExperimentsModuleState
    },
    errorExperimentsStore(): ApiError | null {
      return this.experimentsModuleState.error
    },
    operatorUsers(): User[] {
      return this.$store.getters['users/operatorUsers']
    },
    remainingOperatorsToAdd(): User[] {
      return this.operatorUsers.filter((operator) => {
        const foundOperator = this.currentOperators.find(
          (p: User) => p.username === operator.username
        )

        return !foundOperator
      })
    },
  },
  created() {},
  methods: {
    async addOperatorsToExperiment() {
      if (this.operatorsToAdd.length === 0) {
        return
      }

      await this.$store.dispatch('experiments/ADD_OPERATORS_TO_EXPERIMENT', {
        experimentUuid: this.experimentUuid,
        operatorsUsernameList: this.operatorsToAdd,
      })

      if (this.errorExperimentsStore === null) {
        this.operatorsToAdd = []
        this.dialog = false
      }
    },
  },
})
</script>
