<template>
  <v-dialog v-model="dialog" max-width="700">
    <v-card>
      <v-card-title>Add participants</v-card-title>
      <v-card-text>
        <ApiErrorAlert :error="errorExperimentsStore"></ApiErrorAlert>

        <v-icon small color="blue">help</v-icon>
        The drop down below only shows the remaining participants which are not
        yet already defined as participants for this experiment.

        <v-card flat class="d-flex flex-row align-center">
          <v-select
            :items="remainingParticipantsToAdd"
            label="Select participants to add"
            item-value="uuid"
            v-model="participantsToAdd"
            hint="Displays only the remaining participants"
            multiple
          >
            <template slot="item" slot-scope="data">
              {{ data.item.uuid }} ({{ data.item.shortNote }})
            </template>
            <template slot="selection" slot-scope="data">
              {{ data.item.uuid }} ({{ data.item.shortNote }})
            </template>
          </v-select>
          <v-btn
            outlined
            small
            class="ml-4"
            @click="addParticipantsToExperiment()"
            :disabled="participantsToAdd.length === 0"
          >
            <v-icon left> add </v-icon>Add participants
          </v-btn>
        </v-card>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script lang="ts">
import Vue, { PropOptions } from 'vue'
import ApiErrorAlert from '~/components/errors/api-error-alert.vue'
import { ExperimentsModuleState } from '~/store/experiments'
import { ApiError } from '~/store/interfaces/api-error'
import { Participant } from '~/store/interfaces/participant'
import { ParticipantsModuleState } from '~/store/participants'

export default Vue.extend({
  name: 'AddParticipantsDialog',

  components: { ApiErrorAlert },

  props: {
    value: {
      type: Boolean,
    },
    experimentUuid: {
      type: String,
      required: true,
    } as PropOptions<string>,
    currentParticipants: {
      type: Array,
      required: true,
    } as PropOptions<Participant[]>,
  },

  data() {
    return {
      participantsToAdd: [] as string[],
    }
  },

  computed: {
    dialog: {
      get(): boolean {
        return this.value
      },
      set(value: boolean) {
        this.$emit('input', value)
      },
    },
    experimentsModuleState(): ExperimentsModuleState {
      return this.$store.state.experiments as ExperimentsModuleState
    },
    errorExperimentsStore(): ApiError | null {
      return this.experimentsModuleState.error
    },
    participantsModuleState(): ParticipantsModuleState {
      return this.$store.state.participants as ParticipantsModuleState
    },
    participants(): Participant[] {
      return this.participantsModuleState.participants
    },
    remainingParticipantsToAdd(): Participant[] {
      return this.participants.filter((participant: Participant) => {
        const foundParticipant = this.currentParticipants.find(
          (p) => p.uuid === participant.uuid
        )

        return !foundParticipant
      })
    },
  },
  created() {},
  methods: {
    async addParticipantsToExperiment() {
      if (this.participantsToAdd.length === 0) {
        return
      }

      await this.$store.dispatch('experiments/ADD_PARTICIPANTS_TO_EXPERIMENT', {
        experimentUuid: this.experimentUuid,
        participantsUuidList: this.participantsToAdd,
      })

      if (this.errorExperimentsStore === null) {
        this.participantsToAdd = []
        this.dialog = false
      }
    },
  },
})
</script>
