<template>
  <v-dialog v-model="dialog" max-width="500">
    <v-card>
      <v-card-title>{{ title }}</v-card-title>
      <v-card-text>
        <TaskForm
          :is-edit-mode="isEditMode"
          :experiment-uuid="experimentUuid"
          :task="task"
          @task-created="onTaskCreated"
          @task-updated="onTaskUpdated"
        ></TaskForm>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script lang="ts">
import Vue, { PropOptions } from 'vue'
import TaskForm from '~/components/forms/task.form.vue'
import { Task } from '~/store/interfaces/task'

export default Vue.extend({
  name: 'AddEditTaskDialog',

  components: { TaskForm },

  props: {
    value: {
      type: Boolean,
    } as PropOptions<boolean>,
    isEditMode: {
      type: Boolean,
      default: false,
    } as PropOptions<boolean>,
    experimentUuid: {
      type: String,
      required: true,
    } as PropOptions<string>,
    task: {
      type: Object,
      required: false,
    } as PropOptions<Task>,
  },

  data() {
    return {}
  },

  computed: {
    dialog: {
      get(): boolean {
        return this.value
      },
      set(value: boolean) {
        this.$emit('input', value)
      },
    },
    title(): string {
      return this.isEditMode ? 'Edit task' : 'Add new task'
    },
  },
  created() {},
  methods: {
    onTaskCreated() {
      this.dialog = false
    },
    onTaskUpdated() {
      this.dialog = false
    },
  },
})
</script>
