<template>
  <div>
    <h1>Cameras</h1>

    <ApiErrorAlert :error="errorExperimentsStore"></ApiErrorAlert>

    <div v-if="!loaded">
      <LoadingIndicatorCard></LoadingIndicatorCard>
    </div>
    <div v-else>
      <div v-if="!activeExperiment">
        <v-alert type="info" outlined>
          No experiment currently set as active.
        </v-alert>
      </div>
      <div v-else>
        <div v-if="!camerasWebsocket">
          <p>
            In order to access the cameras preview, you need to explicitly
            confirm your intention. Please respect the user privacy is the
            preview is not required.
          </p>
          <p>
            <strong>
              Please note that every access to the cameras will be logged.
            </strong>
          </p>

          <v-dialog v-model="dialogShowCameraPreview" width="400" persistent>
            <v-card>
              <v-card-title>Camera preview access</v-card-title>
              <v-card-text>
                <v-alert type="info" outlined>
                  Are you sure that you want to access the camera preview?
                  <br />
                  <strong>Your access will be logged.</strong>
                </v-alert>
              </v-card-text>
              <v-card-actions class="d-flex flex-row justify-space-between">
                <v-btn text @click="dialogShowCameraPreview = false"
                  >Cancel</v-btn
                >
                <v-btn text @click="initializeAndOpenCamerasWebSocket()">
                  Yes, I want to cameras
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
          <v-btn class="mt-4" @click="dialogShowCameraPreview = true">
            <v-icon class="mr-2"> mdi-camera </v-icon>
            Access camera preview
          </v-btn>
        </div>
        <div v-else>
          <div v-if="isOpeningWebsocket">
            <LoadingIndicatorCard></LoadingIndicatorCard>
          </div>
          <div v-else>
            <div v-if="openingWebsocketFailed">
              <v-alert type="error" outlined
                >Failed to open cameras Websocket</v-alert
              >
            </div>
            <div v-else>
              <v-alert v-if="!cameraPreviewReceived" type="info" outlined>
                Please allow a few seconds to receive the preview of the
                cameras.
              </v-alert>

              <h2>Daylight Cameras</h2>
              <v-card flat class="d-flex flex-row flex-wrap">
                <CameraPreviewCard
                  v-for="(camera, index) in daylightCameras"
                  :key="index"
                  :sensor="camera"
                  :camera-last-sample="
                    getLastSampleForCamera(
                      CameraType.DAYLIGHT_CAMERA,
                      camera.ip
                    )
                  "
                  class="mr-5 mb-5"
                  :camera-type="CameraType.DAYLIGHT_CAMERA"
                ></CameraPreviewCard>
              </v-card>
              <v-divider></v-divider>
              <h2>Night-vision Cameras</h2>
              <v-card flat class="d-flex flex-row flex-wrap">
                <CameraPreviewCard
                  v-for="(camera, index) in nightVisionCameras"
                  :key="index"
                  :sensor="camera"
                  :camera-last-sample="
                    getLastSampleForCamera(
                      CameraType.NIGHT_VISION_CAMERA,
                      camera.ip
                    )
                  "
                  class="mr-5 mb-5"
                  :camera-type="CameraType.NIGHT_VISION_CAMERA"
                ></CameraPreviewCard>
              </v-card>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import { io, Socket } from 'socket.io-client'
import CameraPreviewCard from '~/components/cards/camera-preview.vue'
import LoadingIndicatorCard from '~/components/cards/loading-indicator-card.vue'
import ApiErrorAlert from '~/components/errors/api-error-alert.vue'
import { Sensor } from '~/store/interfaces/sensors'
import { SensorType } from '~/store/enums/sensor-type.enum'
import { ExperimentsModuleState } from '~/store/experiments'
import { ActiveExperiment } from '~/store/interfaces/active-experiment'
import { AuthModuleState } from '~/store/auth'
import { CameraType } from '~/store/enums/camera-type.enum'
import {
  CameraLastSample,
  LastActivityForCameraType,
} from '~/store/interfaces/cameras-last-activity'
import { NAMESPACE_WEBSOCKET_CAMERAS } from '~/utils/constants'
import { ApiError } from '~/store/interfaces/api-error'

export default Vue.extend({
  layout: 'admin_layout',
  components: { CameraPreviewCard, LoadingIndicatorCard, ApiErrorAlert },
  data() {
    return {
      statusLastRefreshedAt: 0 as number,
      CameraType,
      camerasWebsocket: null as Socket | null,
      camerasLastActivity: {
        [CameraType.DAYLIGHT_CAMERA]: [],
        [CameraType.NIGHT_VISION_CAMERA]: [],
      } as Record<CameraType, CameraLastSample[]>,
      dialogShowCameraPreview: false,
      cameraPreviewReceived: false,
      openingWebsocketFailed: false,
      isOpeningWebsocket: false,
    }
  },

  computed: {
    authModuleState(): AuthModuleState {
      return this.$store.state.auth as AuthModuleState
    },
    experimentsModuleState(): ExperimentsModuleState {
      return this.$store.state.experiments as ExperimentsModuleState
    },
    errorExperimentsStore(): ApiError | null {
      return this.experimentsModuleState.error
    },
    activeExperiment(): ActiveExperiment | null {
      return this.experimentsModuleState.activeExperiment
    },
    daylightCameras(): Sensor[] {
      if (!this.activeExperiment) {
        return []
      }

      return this.activeExperiment.experiment.config.sensorsPerType[
        SensorType.Camera
      ]
    },
    nightVisionCameras(): Sensor[] {
      if (!this.activeExperiment) {
        return []
      }

      return this.activeExperiment.experiment.config.sensorsPerType[
        SensorType.NightVisionCamera
      ]
    },
    dayLightCamerasLastActivity(): CameraLastSample[] {
      return this.camerasLastActivity[CameraType.DAYLIGHT_CAMERA]
    },
    nightVisionCamerasLastActivity(): CameraLastSample[] {
      return this.camerasLastActivity[CameraType.NIGHT_VISION_CAMERA]
    },
    loaded(): boolean {
      return this.experimentsModuleState.activeExperimentFetched
    },
  },

  mounted() {
    this.$store.dispatch('experiments/FETCH_ACTIVE_EXPERIMENT')
  },

  destroyed() {
    if (this.camerasWebsocket && this.camerasWebsocket.connected) {
      this.camerasWebsocket.disconnect()
    }
  },

  methods: {
    getLastSampleForCamera(cameraType: CameraType, ip: string) {
      return this.camerasLastActivity[cameraType].find(
        (camera) => camera.ip === ip
      )
    },
    initializeAndOpenCamerasWebSocket() {
      const url = `${this.$config.sensorMonitoringServiceAuthenticatedWebsocketsURL}/${NAMESPACE_WEBSOCKET_CAMERAS}`

      this.camerasWebsocket = io(url, {
        forceNew: true,
        reconnection: false,
        autoConnect: false, // We will connect upon confirmation
        timeout: 5000,
        extraHeaders: {
          Authorization: `Bearer ${this.authModuleState.jwt}`,
        },
        query: {
          name: NAMESPACE_WEBSOCKET_CAMERAS,
        },
      })

      this.camerasWebsocket.on(
        'backendToClient',
        (lastActivityForCameraType: LastActivityForCameraType) => {
          this.cameraPreviewReceived = true
          this.camerasLastActivity[lastActivityForCameraType.cameraType] =
            lastActivityForCameraType.camerasLastSample
        }
      )

      this.isOpeningWebsocket = true
      this.camerasWebsocket
        .open()
        .once('connect_error', (err: any) => {
          console.log('connect error')
          console.log(err)
          this.openingWebsocketFailed = true
          this.isOpeningWebsocket = false
        })
        .once('connect_timeout', (err: any) => {
          console.log('connect_timeout')
          console.log(err)
          this.openingWebsocketFailed = true
          this.isOpeningWebsocket = false
        })
        .once('connect', () => {
          console.log('connect camera websocket')
          this.isOpeningWebsocket = false
        })
        .once('disconnect', () => {
          console.log('disconnect camera websocket')
        })
    },
  },
})
</script>
