h1 {
  margin-bottom: 20px;
  font-size: 1.5rem;
}
h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 1.3rem;
  font-weight: bold;
}
h3 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1.1rem;
  font-weight: normal;
}
body {
  font-size: 15px;
}

.v-card__title {
  font-size: 1.1rem !important;
}
