<template>
  <div>
    <h1>Experiment definition and progress</h1>

    <ApiErrorAlert :error="errorExperimentsStore"></ApiErrorAlert>

    <div v-if="!activeExperimentFetched">
      <loading-indicator-card></loading-indicator-card>
    </div>
    <div v-else>
      <div v-if="!activeExperiment">
        <div v-if="!activeExperiment && !errorExperimentsStore">
          <v-alert type="info" outlined v-if="isAdmin"
            >No experiment currently set as active. Please make an experiment
            active to handle its lifecycle.</v-alert
          >
          <v-alert type="info" outlined v-else>
            No experiment currently set as active. Please contact an
            administrator to make an experiment active.</v-alert
          >
        </div>
      </div>
      <div v-else>
        <v-container fluid>
          <v-row>
            <v-col class="pl-0">
              <v-card outlined min-width="400">
                <v-card-title>Active experiment</v-card-title>
                <v-divider></v-divider>
                <v-card-text>
                  <ActiveExperimentDetailsCard
                    :active-experiment="activeExperiment"
                  >
                  </ActiveExperimentDetailsCard>
                </v-card-text>
              </v-card>
            </v-col>
            <v-col class="pl-0">
              <v-card outlined>
                <v-card-title> Participants Progress </v-card-title>
                <v-divider></v-divider>
                <v-card-text>
                  <div v-if="!participantsProgressFetched">
                    <loading-indicator-card></loading-indicator-card>
                  </div>
                  <div v-else>
                    <div v-if="participantsProgress.length === 0">
                      No progress recorded yet for experiment
                    </div>
                    <div v-else>
                      <v-card flat class="d-flex flex-row align-center">
                        <v-card flat width="500">
                          <v-select
                            label="Filter participant"
                            v-model="selectedParticipantUuidFilterProgress"
                            :items="activeExperiment.experiment.participants"
                            item-value="uuid"
                            item-text="shortNote"
                            clearable
                          >
                            <template v-slot:item="data">
                              {{ data.item.shortNote }} ({{ data.item.uuid }})
                            </template>
                            <template v-slot:selection="{ item }">
                              {{ item.shortNote }} ({{ item.uuid }})
                            </template>
                          </v-select>
                        </v-card>
                        <v-card flat width="200">
                          <v-select
                            label="Filter task"
                            v-model="selectedTaskUuidFilterProgress"
                            :items="activeExperiment.experiment.tasks"
                            item-value="uuid"
                            item-text="name"
                            class="ml-3"
                            clearable
                          >
                          </v-select>
                        </v-card>
                        <v-spacer></v-spacer>
                      </v-card>
                      <v-data-table
                        :items="filteredParticipantsProgress"
                        :headers="participantsProgressTableHeaders"
                      >
                        <template v-slot:item.taskUuid="{ item }">
                          {{ getTaskNameFromUuid(item.taskUuid) }}
                        </template>
                        <template v-slot:item.participantUuid="{ item }">
                          {{
                            getParticipantShortNoteFromUuid(
                              item.participantUuid
                            )
                          }}

                          ({{ item.participantUuid }})
                        </template>
                      </v-data-table>
                    </div>
                  </div>
                </v-card-text>
              </v-card>
            </v-col>
          </v-row>
        </v-container>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import ApiErrorAlert from '~/components/errors/api-error-alert.vue'
import LoadingIndicatorCard from '~/components/cards/loading-indicator-card.vue'
import ActiveExperimentDetailsCard from '~/components/cards/active-experiment-details-card.vue'
import { ApiError } from '~/store/interfaces/api-error'
import { ExperimentsModuleState } from '~/store/experiments'
import { ActiveExperiment } from '~/store/interfaces/active-experiment'
import { ParticipantProgress } from '~/store/interfaces/participant-progress'

export default Vue.extend({
  layout: 'admin_layout',
  middleware: 'operator_role',
  components: {
    ApiErrorAlert,
    LoadingIndicatorCard,
    ActiveExperimentDetailsCard,
  },

  data() {
    return {
      participantsProgressTableHeaders: [
        { text: 'Participant', value: 'participantUuid' },
        { text: 'Task', value: 'taskUuid' },
        { text: 'Trial counter', value: 'trialCounter' },
      ],
      selectedParticipantUuidFilterProgress: null as null | string,
      selectedTaskUuidFilterProgress: null,
    }
  },
  computed: {
    experimentsModuleState(): ExperimentsModuleState {
      return this.$store.state.experiments as ExperimentsModuleState
    },
    errorExperimentsStore(): ApiError | null {
      return this.experimentsModuleState.error
    },
    activeExperiment(): ActiveExperiment | null {
      return this.experimentsModuleState.activeExperiment
    },
    activeExperimentFetched(): boolean {
      return this.experimentsModuleState.activeExperimentFetched
    },
    isAdmin(): boolean {
      return this.$store.getters['auth/isAdmin']
    },
    participantsProgress(): ParticipantProgress[] {
      return this.experimentsModuleState.participantsProgress
    },
    participantsProgressFetched(): boolean {
      return this.experimentsModuleState.participantsProgressFetched
    },
    filteredParticipantsProgress(): ParticipantProgress[] {
      let participantsProgress = this.participantsProgress

      // Filter with selected participant
      if (this.selectedParticipantUuidFilterProgress) {
        participantsProgress = participantsProgress.filter(
          (participantProgress) =>
            participantProgress.participantUuid ===
            this.selectedParticipantUuidFilterProgress
        )
      }

      // Filter with selected task
      if (this.selectedTaskUuidFilterProgress) {
        participantsProgress = participantsProgress.filter(
          (participantProgress) =>
            participantProgress.taskUuid === this.selectedTaskUuidFilterProgress
        )
      }
      return participantsProgress
    },
  },

  watch: {
    activeExperiment() {
      if (this.activeExperiment) {
        this.$store.dispatch(
          'experiments/FETCH_PARTICIPANTS_PROGRESS_FOR_EXPERIMENT',
          { experimentUuid: this.activeExperiment.experiment.uuid }
        )
      }
    },
  },

  created() {
    this.$store.dispatch('experiments/RESET_ERROR')
  },

  mounted() {
    this.$store.dispatch('experiments/FETCH_ACTIVE_EXPERIMENT')
  },

  methods: {
    getTaskNameFromUuid(taskUuid: string) {
      if (!this.activeExperiment) {
        return ''
      }
      const task = this.activeExperiment.experiment.tasks.find(
        (task) => task.uuid === taskUuid
      )
      return task ? task.name : 'Not found'
    },
    getParticipantShortNoteFromUuid(participantUuid: string) {
      if (!this.activeExperiment) {
        return ''
      }
      const participant = this.activeExperiment.experiment.participants.find(
        (participant) => participant.uuid === participantUuid
      )

      return participant ? participant.shortNote : ''
    },
  },
})
</script>

<style></style>
