<template>
  <div>
    <h1>Recordings & Sensor Status</h1>

    <ApiErrorAlert :error="errorExperimentsStore"></ApiErrorAlert>

    <div v-if="!loaded">
      <loading-indicator-card></loading-indicator-card>
    </div>
    <div v-else>
      <div v-if="!activeExperiment">
        <v-alert type="info" outlined v-if="isAdmin">
          No experiment currently set as active. Please make an experiment
          active to see the sensors status.
        </v-alert>
        <v-alert type="info" outlined v-else>
          No experiment currently set as active. Please contact an administrator
          to make an experiment active and its sensors status.
        </v-alert>
      </div>
      <div v-else>
        <v-card outlined class="mt-4">
          <v-card-title>
            Participant recording ({{ activeExperiment.experiment.name }})
          </v-card-title>
          <v-divider></v-divider>
          <v-card-text>
            <v-alert type="info" outlined v-if="startRecordingDisabled">
              Please select a participant and task in order to enable the start
              recording button.
            </v-alert>
            <v-alert
              type="success"
              outlined
              v-if="isRecordingWithActiveExperiment"
            >
              Recording is ongoing for participant
              {{ activeExperiment.participant.shortNote }}
              ({{ activeExperiment.participant.uuid }}). <br />
              You can switch task and increment trial while the experiment is
              recording. Stop recording to switch participant.
            </v-alert>

            <v-card flat class="d-flex flex-row align-center py-2">
              <v-card
                flat
                class="d-flex flex-row align-self-center align-center"
              >
                <v-card flat width="500">
                  <v-autocomplete
                    :items="activeExperimentParticipants"
                    item-value="uuid"
                    item-text="shortNote"
                    :disabled="isRecordingWithActiveExperiment"
                    dense
                    label="Please select a participant (you can type to search)"
                    v-model="participantUuidActiveExperiment"
                    clearable
                    full-width
                  >
                    <template v-slot:item="data">
                      {{ data.item.shortNote }} ({{ data.item.uuid }})
                    </template>
                    <template v-slot:selection="{ item }">
                      {{ item.shortNote }} ({{ item.uuid }})
                    </template>
                  </v-autocomplete>
                </v-card>
                <v-select
                  :items="activeExperimentTasks"
                  item-value="uuid"
                  item-text="name"
                  label="Current task"
                  class="ml-2"
                  v-model="taskUuid"
                  hint="The samples recorded will be labelled with the task name."
                  @change="handleTaskChanged()"
                ></v-select>
                <v-dialog v-model="dialogChangeTask" persistent max-width="500">
                  <v-card>
                    <v-card-title>Change Task</v-card-title>
                    <v-card-text>
                      <div v-if="taskUuid">
                        <p>
                          Are you sure that you want to change the experiment
                          task to {{ getTaskNameFromUuid(taskUuid) }} ?
                        </p>
                        <p>
                          The samples will be labelled with the new task UUID
                          after the change.
                        </p>
                      </div>
                      <div v-else>
                        Are you sure that you want to reset the current task?
                        (no task UUID will be applied to the current recording).
                      </div>
                    </v-card-text>
                    <v-card-actions
                      class="d-flex flex-row justify-space-between"
                    >
                      <v-btn
                        text
                        @click="closeDialogUpdateTaskAndResetSelectValue()"
                        >Cancel</v-btn
                      >
                      <v-btn text @click="updateTask()">Change task</v-btn>
                    </v-card-actions>
                  </v-card>
                </v-dialog>
                <v-card
                  flat
                  class="ml-3"
                  v-if="isRecordingWithActiveExperiment"
                >
                  Current trial: {{ activeExperiment.trialNbr }}
                  <v-btn @click="handleIncrementTrial()" class="ml-3" small>
                    <v-icon>add</v-icon> Increment Trial
                  </v-btn>
                </v-card>
                <v-dialog
                  v-model="dialogIncrementTrial"
                  persistent
                  max-width="500"
                >
                  <v-card>
                    <v-card-title>Increment Trial for task </v-card-title>
                    <v-card-text>
                      <p>
                        Are you sure that you want to increment the trial number
                        for task
                        {{ getTaskNameFromUuid(activeExperiment.taskUuid) }}
                        ?
                      </p>
                      <p>
                        The samples will be labelled with the new trial number
                        after the change.
                      </p>
                    </v-card-text>
                    <v-card-actions
                      class="d-flex flex-row justify-space-between"
                    >
                      <v-btn text @click="dialogIncrementTrial = false"
                        >Cancel</v-btn
                      >
                      <v-btn text @click="incrementTrial()"
                        >Yes, increment trial number</v-btn
                      >
                    </v-card-actions>
                  </v-card>
                </v-dialog>
              </v-card>
              <v-spacer></v-spacer>
              <div v-if="!isRecordingWithActiveExperiment">
                <v-card flat>
                  <v-btn
                    right
                    class="ml-4"
                    :disabled="startRecordingDisabled"
                    @click="startRecording()"
                  >
                    Start recording
                  </v-btn>
                </v-card>
              </div>
              <div v-else>
                <v-card
                  flat
                  class="d-flex flex-row align-center justify-space-between"
                >
                  <v-btn @click="stopRecording()" class="mr-3">
                    Stop recording
                  </v-btn>
                </v-card>
              </div>
            </v-card>
          </v-card-text>
        </v-card>

        <SaveNoteCard
          :active-experiment="activeExperiment"
          class="mt-4"
        ></SaveNoteCard>

        <div v-if="sensorsSocket && !sensorsSocket.connected">
          <v-alert type="error" outlined>
            Failed to connect to sensors websocket to refresh sensors status.
          </v-alert>
        </div>
        <div v-else>
          <ConfigInfoCard
            class="mt-4"
            v-if="activeExperiment.experiment.config"
            :config="activeExperiment.experiment.config"
          ></ConfigInfoCard>
        </div>
      </div>
    </div>
    <v-snackbar v-model="snackbars.success" color="green" :timeout="2000">
      {{ snackbarMessage }}
    </v-snackbar>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import { io, Socket } from 'socket.io-client'
import ConfigInfoCard from '@/components/cards/config-info-card.vue'
import SaveNoteCard from '@/components/cards/save-note-card.vue'
import ApiErrorAlert from '~/components/errors/api-error-alert.vue'
import LoadingIndicatorCard from '~/components/cards/loading-indicator-card.vue'
import { User } from '~/store/interfaces/user'
import { AuthModuleState } from '~/store/auth'
import { ApiError } from '~/store/interfaces/api-error'
import { ExperimentsModuleState } from '~/store/experiments'
import { ActiveExperiment } from '~/store/interfaces/active-experiment'
import { SensorTypeLastReceivedMessage } from '~/store/interfaces/sensor-data-received-message.interface'
import { NAMESPACE_WEBSOCKET_SENSORS } from '~/utils/constants'
import { Task } from '~/store/interfaces/task'
import { StartRecordingExperimentDto } from '~/store/interfaces/dtos/start-recording-experiment.dto'
import { UpdateTaskCurrentRecordingDto } from '~/store/interfaces/dtos/update-task-current-recording.dto'
import { Participant } from '~/store/interfaces/participant'

export default Vue.extend({
  layout: 'admin_layout',
  middleware: 'operator_role',
  components: {
    ConfigInfoCard,
    ApiErrorAlert,
    LoadingIndicatorCard,
    SaveNoteCard,
  },

  data() {
    return {
      participantUuidActiveExperiment: null as null | string,
      taskUuid: '' as string | null,
      sensorsSocket: null as Socket | null,
      dialogChangeTask: false,
      dialogIncrementTrial: false,
      snackbars: {
        success: false,
      },
      snackbarMessage: '',
    }
  },
  computed: {
    experimentsModuleState(): ExperimentsModuleState {
      return this.$store.state.experiments as ExperimentsModuleState
    },
    errorExperimentsStore(): ApiError | null {
      return this.experimentsModuleState.error
    },
    activeExperiment(): ActiveExperiment | null {
      return this.experimentsModuleState.activeExperiment
    },
    loaded(): boolean {
      return this.experimentsModuleState.activeExperimentFetched
    },
    authModuleState(): AuthModuleState {
      return this.$store.state.auth as AuthModuleState
    },
    user(): User | null {
      return this.authModuleState.user
    },
    isAdmin(): boolean {
      return this.$store.getters['auth/isAdmin']
    },
    startRecordingDisabled(): boolean {
      return (
        this.participantUuidActiveExperiment === null || this.taskUuid === null
      )
    },
    activeExperimentTasks(): Task[] {
      return this.activeExperiment ? this.activeExperiment.experiment.tasks : []
    },
    activeExperimentParticipants(): Participant[] {
      return this.activeExperiment
        ? this.activeExperiment.experiment.participants
        : []
    },
    isRecordingWithActiveExperiment(): boolean {
      return this.activeExperiment ? this.activeExperiment.isRecording : false
    },
  },

  watch: {
    activeExperiment() {
      if (this.activeExperiment) {
        if (!this.sensorsSocket) {
          this.initAndConnectSensorsWebSocket()
        }

        if (this.activeExperiment.participant) {
          this.participantUuidActiveExperiment =
            this.activeExperiment.participant.uuid
        }

        this.taskUuid = this.activeExperiment.taskUuid
      }
    },
  },

  created() {
    this.$store.dispatch('experiments/RESET_ERROR')
  },

  mounted() {
    this.$store.dispatch('experiments/FETCH_ACTIVE_EXPERIMENT')
  },

  destroyed() {
    if (this.sensorsSocket && this.sensorsSocket.connected) {
      this.sensorsSocket.disconnect()
    }
  },

  methods: {
    initAndConnectSensorsWebSocket() {
      const url = `${this.$config.sensorMonitoringServiceAuthenticatedWebsocketsURL}/${NAMESPACE_WEBSOCKET_SENSORS}`

      this.sensorsSocket = io(url, {
        forceNew: true,
        reconnection: false,
        autoConnect: true,
        timeout: 5000,
        extraHeaders: {
          Authorization: `Bearer ${this.authModuleState.jwt}`,
        },
        query: {
          name: NAMESPACE_WEBSOCKET_SENSORS,
        },
      })

      this.sensorsSocket.on(
        'sensorsToClient',
        (msg: SensorTypeLastReceivedMessage) => {
          this.$store.commit('sensors/UPDATE_SENSOR_DATA_RECEIVED_MESSAGE', msg)
        }
      )

      this.sensorsSocket
        .open()
        .once('connect_error', (err: any) => {
          console.log('connect error')
          console.log(err)
        })
        .once('connect_timeout', (err: any) => {
          console.log('connect_timeout')
          console.log(err)
        })
        .once('connect', () => {
          console.log('connect sensors websocket')
        })
        .once('disconnect', () => {
          console.log('disconnect sensors websocket')
        })
    },

    async startRecording() {
      if (!this.activeExperiment) {
        return
      }

      if (
        this.participantUuidActiveExperiment === null ||
        this.taskUuid === null
      ) {
        return
      }

      const startRecordingExperimentDto: StartRecordingExperimentDto = {
        participantUuid: this.participantUuidActiveExperiment,
        taskUuid: this.taskUuid,
      }
      await this.$store.dispatch('experiments/START_RECORDING_EXPERIMENT', {
        experimentUuid: this.activeExperiment.experiment.uuid,
        startRecordingExperimentDto,
      })
    },
    async stopRecording() {
      if (!this.activeExperiment) {
        return
      }
      await this.$store.dispatch('experiments/STOP_RECORDING_EXPERIMENT', {
        experimentUuid: this.activeExperiment.experiment.uuid,
      })
    },
    resetTaskUuidFromCurrentActiveExperiment() {
      this.taskUuid = this.activeExperiment
        ? this.activeExperiment.taskUuid
        : ''
    },
    closeDialogUpdateTaskAndResetSelectValue() {
      this.dialogChangeTask = false
      this.resetTaskUuidFromCurrentActiveExperiment()
    },
    handleTaskChanged() {
      if (this.isRecordingWithActiveExperiment) {
        this.dialogChangeTask = true
      }
    },
    async updateTask() {
      if (!this.activeExperiment) {
        return
      }

      if (this.taskUuid == null) {
        return
      }

      const updateTaskCurrentRecordingDto: UpdateTaskCurrentRecordingDto = {
        taskUuid: this.taskUuid,
      }

      await this.$store.dispatch('experiments/UPDATE_TASK_CURRENT_RECORDING', {
        experimentUuid: this.activeExperiment.experiment.uuid,
        updateTaskCurrentRecordingDto,
      })

      this.dialogChangeTask = false

      if (this.errorExperimentsStore === null) {
        this.snackbarMessage = 'Task successfully updated for current recording'
        this.snackbars.success = true
      } else {
        this.resetTaskUuidFromCurrentActiveExperiment()
      }
    },
    handleIncrementTrial() {
      if (this.isRecordingWithActiveExperiment) {
        this.dialogIncrementTrial = true
      }
    },
    async incrementTrial() {
      if (!this.activeExperiment) {
        return
      }

      if (this.taskUuid == null) {
        return
      }

      await this.$store.dispatch(
        'experiments/INCREMENT_TRIAL_CURRENT_RECORDING',
        {
          experimentUuid: this.activeExperiment.experiment.uuid,
        }
      )

      this.dialogIncrementTrial = false

      if (this.errorExperimentsStore === null) {
        this.snackbarMessage = 'Trial successfully incremented'
        this.snackbars.success = true
      }
    },
    getTaskNameFromUuid(taskUuid: string) {
      if (!this.activeExperiment) {
        return ''
      }
      const task = this.activeExperiment.experiment.tasks.find(
        (task) => task.uuid === taskUuid
      )
      return task ? task.name : 'Not found'
    },
  },
})
</script>

<style scoped></style>
