<template>
  <div>
    <h1>Dashboard</h1>

    <div v-if="user">
      Welcome <strong>{{ user.username }}!</strong>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import { User } from '~/store/interfaces/user'
import { AuthModuleState } from '~/store/auth'

export default Vue.extend({
  layout: 'admin_layout',
  components: {},

  data() {
    return {}
  },
  computed: {
    authModuleState(): AuthModuleState {
      return this.$store.state.auth as AuthModuleState
    },
    user(): User | null {
      return this.authModuleState.user
    },
  },

  methods: {},
})
</script>

<style scoped></style>
