<template>
  <v-layout align-center justify-center>
    <v-flex xl3 lg4 md6 sm6>
      <v-card class="elevation-12">
        <v-toolbar dark color="primary">
          <v-toolbar-title>SRS-Frontend</v-toolbar-title>
          <v-spacer />
        </v-toolbar>

        <v-card-text>
          <form-error class="ma-3" :error="errorMessage" />

          <api-error-alert
            title="An error happened trying to authenticate user"
            :error="error"
          />

          <v-alert v-if="jwtExpired" type="info" class="ma-3">
            {{ $t('login.session_expired') }}
          </v-alert>

          <div v-if="isAuthenticating || isAuthenticated">
            <v-card flat class="d-flex justify-center ma-6">
              <v-progress-circular :size="50" color="primary" indeterminate />
            </v-card>
          </div>
          <div v-else>
            <v-form>
              <v-container>
                <v-layout column>
                  <v-flex>
                    <v-text-field
                      ref="username"
                      v-model="credentials.username"
                      prepend-inner-icon="person"
                      :rules="this.$validationRules.USERNAME"
                      name="username"
                      :label="$t('person.username')"
                      outlined
                      validate-on-blur
                      @keyup.enter="login"
                    />
                  </v-flex>
                  <v-flex>
                    <v-text-field
                      id="password"
                      ref="password"
                      v-model="credentials.password"
                      prepend-inner-icon="lock"
                      autocomplete="off"
                      name="password"
                      :label="$t('person.password')"
                      type="password"
                      outlined
                      @keyup.enter="login"
                    />
                  </v-flex>
                  <v-flex align-self-center>
                    <v-btn color="primary" @click="login"> Login </v-btn>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-form>
          </div>
        </v-card-text>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script lang="ts">
import ApiErrorAlert from '@/components/errors/api-error-alert.vue'
import FormError from '@/components/errors/form-error.vue'
import Vue from 'vue'
import { User } from '@/store/interfaces/user'
import { Credentials } from '@/store/interfaces/credentials'
import { AuthModuleState } from '~/store/auth'

export default Vue.extend({
  layout: 'default_layout',
  components: {
    ApiErrorAlert,
    FormError,
  },
  middleware: 'guest',
  data() {
    const credentials: Credentials = {
      username: '',
      password: '',
    }
    const validateOnBlur: boolean = true
    const errorMessage: string = ''

    return {
      credentials,
      validateOnBlur,
      errorMessage,
    }
  },

  computed: {
    authModuleState(): AuthModuleState {
      return this.$store.state.auth as AuthModuleState
    },
    error(): any {
      return this.authModuleState.error
    },
    isAuthenticating(): boolean {
      return this.authModuleState.isRequestingAuth
    },
    isAuthenticated(): boolean {
      return this.authModuleState.jwt !== ''
    },
    jwtExpired(): boolean {
      return this.authModuleState.jwtExpired
    },
    user(): User | null {
      return this.authModuleState.user
    },
  },
  watch: {
    isAuthenticated() {
      if (this.isAuthenticated) {
        this.$router.push('/')
      }
    },
  },
  mounted() {
    this.resetErrors()
  },
  methods: {
    resetErrors() {
      if (this.error !== null) {
        this.$store.dispatch('auth/RESET_ERROR')
      }
      this.errorMessage = ''
    },
    login() {
      this.resetErrors()

      if (
        this.credentials.username === '' ||
        this.credentials.username.length <
          this.$validationRules.USERNAME_MIN_LENGTH
      ) {
        const htmlElement = this.$refs.username as HTMLElement
        htmlElement.focus()
        return
      }

      if (
        this.credentials.password === '' ||
        this.credentials.password.length <
          this.$validationRules.PASSWORD_MIN_LENGTH
      ) {
        this.credentials.password = ''
        this.errorMessage = this.$i18n.tc('login.double_check_credentials')

        const htmlElement = this.$refs.password as HTMLElement
        htmlElement.focus()
        return
      }

      if (this.credentials.password === '') {
        const htmlElement = this.$refs.password as HTMLElement
        htmlElement.focus()
        return
      }

      this.errorMessage = ''

      this.$store.dispatch('auth/AUTHENTICATE', this.credentials)
    },
  },
})
</script>

<style></style>
