<template>
  <div>
    <h1>Profile</h1>

    <ul>
      <li>Username: {{ user.username }}</li>
      <li>Roles: {{ user.roles }}</li>
    </ul>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import { User } from '~/store/interfaces/user'
import { AuthModuleState } from '~/store/auth'

export default Vue.extend({
  layout: 'admin_layout',
  components: {},
  data() {
    return {}
  },
  computed: {
    user(): User | null {
      return (this.$store.state.auth as AuthModuleState).user
    },
  },
  created() {},
  methods: {},
})
</script>
