<template>
  <div>
    <ApiErrorAlert :error="errorParticipantsStore"></ApiErrorAlert>

    <FormError :error="errorForm"></FormError>
    <v-form @submit.prevent="createOrUpdateParticipant()">
      <v-text-field
        v-if="!isEditMode"
        label="New participant UUID"
        v-model="participantEdit.uuid"
        :rules="$validationRules.PARTICIPANT_UUID"
        append-icon="mdi-auto-fix"
        @click:append="generateUUID()"
      ></v-text-field>
      <v-text-field
        v-else
        label="Participant UUID"
        :value="participant.uuid"
        readonly
        disabled
      ></v-text-field>

      <v-text-field
        label="Short note (something to help you work with participant, e.g. 'P_1')"
        v-model="participantEdit.shortNote"
        :rules="$validationRules.PARTICIPANT_SHORT_NOTE"
        :validate-on-blur="true"
      ></v-text-field>

      <v-card flat class="d-flex flex-row justify-space-between">
        <v-spacer></v-spacer>
        <v-btn v-if="isEditMode" type="submit"> Update </v-btn>
        <v-btn v-else type="submit">Create</v-btn>
      </v-card>
    </v-form>
  </div>
</template>

<script lang="ts">
import Vue, { PropOptions } from 'vue'
import { v4 as uuidv4 } from 'uuid'
import ApiErrorAlert from '~/components/errors/api-error-alert.vue'
import FormError from '~/components/errors/form-error.vue'
import { ApiError } from '~/store/interfaces/api-error'
import { ParticipantsModuleState } from '~/store/participants'
import { UpdateParticipantDto } from '~/store/interfaces/dtos/update-participant.dto'
import { CreateParticipantDto } from '~/store/interfaces/dtos/create-participant.dto'
import { Participant } from '~/store/interfaces/participant'

export default Vue.extend({
  name: 'ParticipantForm',

  components: { ApiErrorAlert, FormError },

  props: {
    isEditMode: {
      type: Boolean,
      default: false,
    } as PropOptions<boolean>,
    participant: {
      type: Object,
      required: false,
    } as PropOptions<Participant>,
  },

  data() {
    return {
      participantEdit: this.isEditMode
        ? ({} as UpdateParticipantDto)
        : ({} as CreateParticipantDto), // holds a mutable copy of the participant via prop.
      isValid: false,
      errorForm: null as null | string,
    }
  },

  computed: {
    participantsModuleState(): ParticipantsModuleState {
      return this.$store.state.participants as ParticipantsModuleState
    },
    errorParticipantsStore(): ApiError | null {
      return this.participantsModuleState.error
    },
  },
  created() {
    if (this.isEditMode) {
      const editParticipant: UpdateParticipantDto = {
        shortNote: this.participant.shortNote,
      }
      this.participantEdit = editParticipant
    } else {
      const newParticipant: CreateParticipantDto = {
        uuid: '',
        shortNote: '',
      }
      this.participantEdit = newParticipant
    }
  },
  methods: {
    generateUUID() {
      ;(this.participantEdit as CreateParticipantDto).uuid = uuidv4()
    },
    async createOrUpdateParticipant() {
      if (this.isEditMode) {
        await this.updateParticipant()
      } else {
        await this.createParticipant()
      }
    },
    async createParticipant() {
      if (
        (this.participantEdit as CreateParticipantDto).uuid !== '' &&
        (this.participantEdit as CreateParticipantDto).shortNote !== ''
      ) {
        this.errorForm = ''
        const createParticipantDto: CreateParticipantDto = {
          uuid: (this.participantEdit as CreateParticipantDto).uuid,
          shortNote: this.participantEdit.shortNote,
        }
        await this.$store.dispatch('participants/CREATE_PARTICIPANT', {
          createParticipantDto,
        })

        if (this.errorParticipantsStore === null) {
          this.$emit('participant-created')
        }
      } else {
        this.errorForm = 'Please fill all fields.'
      }
    },
    async updateParticipant() {
      const updateParticipantDto: UpdateParticipantDto = {
        shortNote: this.participantEdit.shortNote,
      }

      await this.$store.dispatch('participants/UPDATE_PARTICIPANT', {
        participantUuid: this.participant.uuid,
        updateParticipantDto,
      })
      if (this.errorParticipantsStore === null) {
        this.$emit('participant-updated')
      }
    },
  },
})
</script>
