<template>
  <div>
    <ApiErrorAlert :error="errorBookingsStore"></ApiErrorAlert>

    <v-form @submit.prevent="createOrUpdateRoom">
      <v-text-field
        v-if="isEditMode"
        label="Room UUID"
        :value="room.uuid"
        disabled
        readonly
      ></v-text-field>

      <v-text-field
        label="Room name"
        v-model="roomEdit.name"
        hint="The name of the room"
        :rules="$validationRules.ROOM_NAME"
        validate-on-blur
      ></v-text-field>

      <v-card flat class="d-flex flex-row justify-space-between">
        <v-spacer></v-spacer>
        <v-btn v-if="isEditMode" type="submit">Update</v-btn>
        <v-btn v-else :disabled="!createUpdateEnabled" type="submit">
          Create
        </v-btn>
      </v-card>
    </v-form>
  </div>
</template>

<script lang="ts">
import Vue, { PropOptions } from 'vue'
import ApiErrorAlert from '~/components/errors/api-error-alert.vue'
import { ApiError } from '~/store/interfaces/api-error'
import { BookingsModuleState } from '~/store/bookings'
import { CreateUpdateRoomDto } from '~/store/interfaces/bookings/create-update-room.dto'
import { Room } from '~/store/interfaces/bookings/room'

export default Vue.extend({
  name: 'RoomForm',

  components: { ApiErrorAlert },

  props: {
    isEditMode: {
      type: Boolean,
      default: false,
    } as PropOptions<boolean>,
    room: {
      type: Object,
      required: false,
    } as PropOptions<Room>,
  },

  data() {
    return {
      roomEdit: {} as CreateUpdateRoomDto, // holds a mutable copy of the room via prop.
      isValid: false,
    }
  },

  computed: {
    bookingsModuleState(): BookingsModuleState {
      return this.$store.state.bookings as BookingsModuleState
    },
    errorBookingsStore(): ApiError | null {
      return this.bookingsModuleState.error
    },
    createUpdateEnabled(): boolean {
      return (
        this.roomEdit.name.length >= this.$validationRules.ROOM_NAME_MIN_LENGTH
      )
    },
  },
  created() {
    if (this.isEditMode) {
      const createUpdateRoomDto: CreateUpdateRoomDto = {
        name: this.room.name,
      }
      this.roomEdit = createUpdateRoomDto
    } else {
      const createUpdateRoomDto: CreateUpdateRoomDto = {
        name: '',
      }
      this.roomEdit = createUpdateRoomDto
    }
  },
  methods: {
    async createOrUpdateRoom() {
      if (this.isEditMode) {
        await this.updateRoom()
      } else {
        await this.createRoom()
      }
    },
    async createRoom() {
      const createUpdateRoomDto: CreateUpdateRoomDto = {
        name: this.roomEdit.name,
      }
      await this.$store.dispatch('bookings/CREATE_ROOM', {
        createUpdateRoomDto,
      })

      if (this.errorBookingsStore === null) {
        this.$emit('room-created')

        // Reset fields
        this.roomEdit.name = ''
      }
    },
    async updateRoom() {
      const createUpdateRoomDto: CreateUpdateRoomDto = {
        name: this.roomEdit.name,
      }

      await this.$store.dispatch('bookings/UPDATE_ROOM', {
        roomUuid: this.room.uuid,
        createUpdateRoomDto,
      })
      if (this.errorBookingsStore === null) {
        this.$emit('room-updated')
      }
    },
  },
})
</script>
