<template>
  <div>
    <ApiErrorAlert :error="errorExperimentsStore"></ApiErrorAlert>

    <v-form>
      <v-text-field
        v-if="!isEditMode"
        label="New task UUID"
        v-model="taskEdit.uuid"
        :rules="$validationRules.TASK_UUID"
        append-icon="mdi-auto-fix"
        @click:append="generateUUID()"
      ></v-text-field>
      <v-text-field
        v-else
        label="Task UUID"
        :value="task.uuid"
        readonly
        disabled
      ></v-text-field>

      <v-text-field
        label="Task name"
        persistent-hint
        v-model="taskEdit.name"
        hint="An short identifier for the task: Eg. 'T_1'."
      ></v-text-field>

      <v-textarea
        label="Task description"
        v-model="taskEdit.description"
        class="mt-2"
      >
      </v-textarea>

      <v-card flat class="d-flex flex-row justify-space-between">
        <v-spacer></v-spacer>
        <v-btn v-if="isEditMode" @click="updateTask">Update</v-btn>
        <v-btn v-else @click="createTask">Create</v-btn>
      </v-card>
    </v-form>
  </div>
</template>

<script lang="ts">
import Vue, { PropOptions } from 'vue'
import { v4 as uuidv4 } from 'uuid'
import { ExperimentsModuleState } from '../../store/experiments'
import ApiErrorAlert from '~/components/errors/api-error-alert.vue'
import { ApiError } from '~/store/interfaces/api-error'
import { Task } from '~/store/interfaces/task'
import { UpdateTaskDto } from '~/store/interfaces/dtos/update-task.dto'
import { CreateTaskDto } from '~/store/interfaces/dtos/create-task.dto'

export default Vue.extend({
  name: 'TaskForm',

  components: { ApiErrorAlert },

  props: {
    isEditMode: {
      type: Boolean,
      default: false,
    } as PropOptions<boolean>,
    experimentUuid: {
      type: String,
      required: true,
    } as PropOptions<string>,
    task: {
      type: Object,
      required: false,
    } as PropOptions<Task>,
  },

  data() {
    return {
      taskEdit: this.isEditMode ? ({} as UpdateTaskDto) : ({} as CreateTaskDto), // holds a mutable copy of the task via prop.
      isValid: false,
    }
  },

  computed: {
    experimentsModuleState(): ExperimentsModuleState {
      return this.$store.state.experiments as ExperimentsModuleState
    },
    errorExperimentsStore(): ApiError | null {
      return this.experimentsModuleState.error
    },
  },
  created() {
    if (this.isEditMode) {
      const editTaskDto: UpdateTaskDto = {
        name: this.task.name,
        description: this.task.description,
      }
      this.taskEdit = editTaskDto
    } else {
      const createTaskDto: CreateTaskDto = {
        uuid: '',
        name: '',
        description: '',
      }
      this.taskEdit = createTaskDto
    }
  },
  methods: {
    generateUUID() {
      if (!this.isEditMode) {
        ;(this.taskEdit as CreateTaskDto).uuid = uuidv4()
      }
    },
    async createTask() {
      const createTaskDto: CreateTaskDto = {
        uuid: (this.taskEdit as CreateTaskDto).uuid,
        name: this.taskEdit.name,
        description: this.taskEdit.description,
      }
      await this.$store.dispatch('experiments/ADD_TASK_TO_EXPERIMENT', {
        experimentUuid: this.experimentUuid,
        createTaskDto,
      })

      if (this.errorExperimentsStore === null) {
        ;(this.taskEdit as CreateTaskDto).uuid = ''

        this.$emit('task-created')

        // Reset fields
        this.taskEdit.name = ''
        this.taskEdit.description = ''
      }
    },
    async updateTask() {
      const updateTaskDto: UpdateTaskDto = {
        name: this.taskEdit.name,
        description: this.taskEdit.description,
      }

      await this.$store.dispatch('experiments/UPDATE_TASK_OF_EXPERIMENT', {
        experimentUuid: this.experimentUuid,
        taskUuid: this.task.uuid,
        updateTaskDto,
      })
      if (this.errorExperimentsStore === null) {
        this.$emit('task-updated')
      }
    },
  },
})
</script>
