<template>
  <div>
    <ApiErrorAlert :error="errorUsersStore"></ApiErrorAlert>

    <v-form>
      <v-text-field
        label="Firstname"
        v-model="userEdit.firstname"
        :rules="$validationRules.FIRSTNAME"
      ></v-text-field>

      <v-text-field
        label="Lastname"
        v-model="userEdit.lastname"
        :rules="$validationRules.LASTNAME"
        @change="proposeUsername()"
      ></v-text-field>

      <v-text-field
        label="Username"
        v-model="userEdit.username"
        :rules="$validationRules.USERNAME"
      ></v-text-field>

      <v-text-field
        label="Email"
        v-model="userEdit.email"
        :rules="$validationRules.EMAIL"
      ></v-text-field>

      <v-text-field
        label="Password"
        type="password"
        v-model="userEdit.password"
        :rules="isEditMode ? [] : $validationRules.PASSWORD"
      ></v-text-field>

      <v-select
        :items="rolesToSelect"
        v-model="userEdit.roles"
        multiple
        item-text="text"
        item-value="value"
        label="Roles"
      ></v-select>

      <v-card flat class="d-flex flex-row justify-space-between">
        <v-spacer></v-spacer>
        <v-btn v-if="isEditMode" @click="updateUser">Update</v-btn>
        <v-btn v-else @click="createUser">Create</v-btn>
      </v-card>
    </v-form>
  </div>
</template>

<script lang="ts">
import Vue, { PropOptions } from 'vue'
import cloneDeep from 'lodash.clonedeep'
import { Role } from '~/store/interfaces/user'
import { CreateUpdateUserDto } from '~/store/interfaces/dtos/create-update-user.dto'
import ApiErrorAlert from '~/components/errors/api-error-alert.vue'
import { UsersModuleState } from '~/store/users'
import { ApiError } from '~/store/interfaces/api-error'

export default Vue.extend({
  name: 'UserForm',

  components: { ApiErrorAlert },

  props: {
    isEditMode: {
      type: Boolean,
      default: false,
    } as PropOptions<boolean>,
    user: {
      type: Object,
      required: false,
    } as PropOptions<CreateUpdateUserDto>,
  },

  data() {
    return {
      userEdit: {} as CreateUpdateUserDto, // holds a mutable copy of the user via prop.
      isValid: false,
    }
  },

  computed: {
    usersModuleState(): UsersModuleState {
      return this.$store.state.users as UsersModuleState
    },
    errorUsersStore(): ApiError | null {
      return this.usersModuleState.error
    },
    rolesToSelect(): any[] {
      return Object.keys(Role).map((key) => {
        // Fix typescript warning (no index signature with parameters of type string)
        const k = key as keyof typeof Role
        return {
          text: key,
          value: Role[k],
        }
      })
    },
  },
  created() {
    if (this.isEditMode) {
      this.userEdit = cloneDeep(this.user)
    } else {
      const newUser: CreateUpdateUserDto = {
        firstname: '',
        lastname: '',
        username: '',
        password: '',
        email: '',
        roles: [] as Role[],
      }
      this.userEdit = newUser
    }
  },
  methods: {
    proposeUsername() {
      if (
        this.userEdit.username.length === 0 &&
        this.userEdit.firstname.length !== 0 &&
        this.userEdit.lastname.length !== 0
      ) {
        this.userEdit.username = `${this.userEdit.firstname.toLowerCase()}.${this.userEdit.lastname.toLowerCase()}`
      }
    },
    async createUser() {
      await this.$store.dispatch('users/CREATE_USER', {
        user: this.userEdit,
      })

      if (this.errorUsersStore === null) {
        this.$emit('user-created')
      }
    },
    async updateUser() {
      await this.$store.dispatch('users/UPDATE_USER', {
        oldUsername: this.user.username,
        user: this.userEdit,
      })
      if (this.errorUsersStore === null) {
        this.$emit('user-updated')
      }
    },
  },
})
</script>
