<template>
  <v-layout align-center>
    <v-row>
      <v-col cols="4">
        <v-card class="justify-center">
          <v-img
            class="white--text align-end"
            gradient="to bottom, rgba(0,0,0,0), rgba(0,0,0,.5)"
            height="330"
            src="/neurotec-loft-living-room.jpg"
          >
            <v-card-title class="text-h3">NeuroTec Loft</v-card-title>
          </v-img>

          <v-card-text>
            <div v-if="!loaded">
              <LoadingIndicatorCard></LoadingIndicatorCard>
            </div>
            <div v-else>
              <v-alert v-if="errorExperimentsStore" type="error" outlined>
                Error fetching infos
              </v-alert>
              <v-alert
                v-if="isRecording"
                outlined
                border="left"
                icon="mdi-alert"
                type="warning"
                class="mt-4"
                prominent
              >
                A recording is currently ongoing for experiment : "{{
                  activeExperimentPublicInfo.experimentName
                }}".
                <br />
                <strong>Please do not enter without authorization!</strong>
              </v-alert>

              <v-timeline
                v-if="messageScreenEntrance"
                align-top
                dense
                class="my-4"
              >
                <v-timeline-item color="blue" small class="pb-0">
                  <strong>{{
                    $getFormattedDateTime(messageScreenEntrance.updatedAt)
                  }}</strong>
                  <v-divider></v-divider>

                  <p class="pre-formatted">
                    {{ messageScreenEntrance.message }}
                  </p>
                </v-timeline-item>
              </v-timeline>
            </div>
          </v-card-text>
        </v-card>
      </v-col>
      <v-col>
        <div v-if="!roomsFetched">
          <LoadingIndicatorCard></LoadingIndicatorCard>
        </div>
        <div v-else>
          <ApiErrorAlert :error="errorBookingsModuleStore"></ApiErrorAlert>

          <div v-if="rooms.length === 0">
            <v-alert type="info" outlined
              >Please configure one or many rooms to display their
              agenda.</v-alert
            >
          </div>

          <div v-else>
            <v-tabs v-model="roomIndex">
              <v-tab v-for="room in rooms" :key="room.uuid">
                {{ room.name }}
              </v-tab>
            </v-tabs>

            <v-tabs-items v-model="roomIndex">
              <v-tab-item v-for="room in rooms" :key="room.uuid">
                <div v-if="!bookingsFetched">
                  <LoadingIndicatorCard></LoadingIndicatorCard>
                </div>
                <div v-else>
                  <CalendarBookingsCard :bookings="bookingsForRoom">
                  </CalendarBookingsCard>

                  <BookingsListCard
                    :bookings="bookingsForRoom"
                    :room="room"
                  ></BookingsListCard>
                </div>
              </v-tab-item>
            </v-tabs-items>
          </div>
        </div>
      </v-col>
    </v-row>
  </v-layout>
</template>

<script lang="ts">
import Vue from 'vue'
import { io, Socket } from 'socket.io-client'
import LoadingIndicatorCard from '~/components/cards/loading-indicator-card.vue'
import CalendarBookingsCard from '~/components/cards/calendar-bookings-card.vue'
import BookingsListCard from '~/components/cards/bookings-as-list-card.vue'
import ApiErrorAlert from '~/components/errors/api-error-alert.vue'
import { ExperimentsModuleState } from '~/store/experiments'
import { ApiError } from '~/store/interfaces/api-error'
import { MessageScreenEntrance } from '~/store/interfaces/message-screen-entrance'
import { ActiveExperimentPublicInfo } from '~/store/interfaces/active-experiment-public-info'
import { NAMESPACE_WEBSOCKET_ACTIVE_EXPERIMENT_STATUS } from '~/utils/constants'
import { BookingsModuleState } from '~/store/bookings'
import { Booking } from '~/store/interfaces/bookings/bookings'
import { Room } from '~/store/interfaces/bookings/room'

export default Vue.extend({
  layout: 'default_layout',
  components: {
    LoadingIndicatorCard,
    CalendarBookingsCard,
    BookingsListCard,
    ApiErrorAlert,
  },
  middleware: 'guest',
  data() {
    return {
      websocket: null as Socket | null,
      socketStatus: {},
      roomIndex: null as null | number,
      interval: null as null | NodeJS.Timeout,
      timeoutRefreshIntervalSeconds: 60,
    }
  },

  computed: {
    experimentsModuleStore(): ExperimentsModuleState {
      return this.$store.state.experiments as ExperimentsModuleState
    },
    errorExperimentsStore(): ApiError | null {
      return this.experimentsModuleStore.error
    },
    messageScreenEntrance(): MessageScreenEntrance | null {
      return this.experimentsModuleStore.messageScreenEntrance
    },
    activeExperimentPublicInfo(): ActiveExperimentPublicInfo | null {
      return this.experimentsModuleStore.activeExperimentPublicInfo
    },
    loaded(): boolean {
      return (
        this.experimentsModuleStore.messageScreenEntranceFetched &&
        this.experimentsModuleStore.activeExperimentPublicInfoFetched
      )
    },
    isRecording(): boolean {
      if (!this.loaded) {
        return false
      }

      if (!this.activeExperimentPublicInfo) {
        return false
      }

      return this.activeExperimentPublicInfo.isRecording
    },
    bookingsModuleStore(): BookingsModuleState {
      return this.$store.state.bookings as BookingsModuleState
    },
    errorBookingsModuleStore(): ApiError | null {
      return this.bookingsModuleStore.error
    },
    roomsFetched(): boolean {
      return this.bookingsModuleStore.roomsFetched
    },
    rooms(): Room[] {
      return this.bookingsModuleStore.rooms
    },
    bookingsFetched(): boolean {
      return this.bookingsModuleStore.bookingsFetched
    },
    bookingsForRoom(): Booking[] {
      return this.bookingsModuleStore.bookings
    },
  },
  created() {
    this.interval = setInterval(
      this.fetchData,
      this.timeoutRefreshIntervalSeconds * 1000
    )
  },
  mounted() {
    this.fetchRooms()

    this.initActiveExperimentStatusWebSocket()
    this.$store.dispatch('experiments/FETCH_MESSAGE_SCREEN_ENTRANCE')

    // The first time, we fetch the endpoint actively, it will then be updated with the websocket upon changes of the experiment status
    this.$store.dispatch('experiments/FETCH_ACTIVE_EXPERIMENT_PUBLIC_INFO')
  },

  watch: {
    roomIndex() {
      if (this.roomIndex !== null && this.roomIndex < this.rooms.length) {
        this.fetchBookingsForRoom(this.rooms[this.roomIndex].uuid)
      }
    },
  },

  beforeDestroy() {
    if (this.interval !== null) {
      clearInterval(this.interval)
    }
  },

  destroyed() {
    if (this.websocket && this.websocket.connected) {
      this.websocket.disconnect()
    }
  },

  methods: {
    async fetchData() {
      await this.fetchRooms()
      if (this.roomIndex !== null && this.roomIndex < this.rooms.length) {
        this.fetchBookingsForRoom(this.rooms[this.roomIndex].uuid)
      }
    },
    fetchRooms() {
      this.$store.dispatch('bookings/FETCH_ROOMS')
    },
    fetchBookingsForRoom(roomUuid: string) {
      this.$store.dispatch('bookings/FETCH_BOOKINGS_FOR_ROOM', {
        roomUuid,
      })
    },
    initActiveExperimentStatusWebSocket() {
      const url = `${this.$config.sensorMonitoringServiceOpenWebsocketsURL}/${NAMESPACE_WEBSOCKET_ACTIVE_EXPERIMENT_STATUS}`
      this.websocket = io(url, {
        autoConnect: true,
      })

      this.websocket.on('backendToClient', () => {
        // Upon change of status, let's re-fetch the active experiment public info
        this.$store.dispatch('experiments/FETCH_ACTIVE_EXPERIMENT_PUBLIC_INFO')
      })
    },
  },
})
</script>

<style>
.pre-formatted {
  white-space: pre-line;
}
</style>
