<template>
  <div>
    <v-card flat>
      <v-card-title>Configurations</v-card-title>
      <v-card-text>
        Configurations are collections of sensors to be used in an experiment.
      </v-card-text>
    </v-card>
    <div v-if="!loaded">
      <LoadingIndicatorCard></LoadingIndicatorCard>
    </div>
    <div v-else>
      <ApiErrorAlert :error="errorConfigStore"></ApiErrorAlert>
      <v-card flat>
        <v-card-title> Available configurations </v-card-title>
        <v-card-text>
          <v-data-table dense :items="configs" :headers="configsTableHeaders">
            <template v-slot:body="{ items }">
              <tbody>
                <tr v-for="config in items" :key="config.uuid">
                  <td>{{ config.name }}</td>
                  <td>{{ config.uuid }}</td>
                  <td>{{ $getFormattedDateTime(config.createdAt) }}</td>
                  <td>{{ config.createdByUsername }}</td>
                  <td>
                    <v-card
                      flat
                      color="transparent"
                      class="d-flex flex-row justify-space-between align-center"
                    >
                      <v-btn outlined x-small @click="fetchConfig(config.uuid)">
                        Load
                      </v-btn>

                      <v-btn
                        icon
                        x-small
                        @click="showDialogDeleteConfig(config.uuid, true)"
                      >
                        <v-icon small>delete</v-icon>
                      </v-btn>
                      <v-dialog
                        v-model="dialogDeleteConfig[config.uuid]"
                        persistent
                        max-width="800"
                      >
                        <v-card>
                          <v-card-title>Delete config</v-card-title>
                          <v-card-text>
                            Do you really want to delete config "{{
                              config.name
                            }}" ({{ config.uuid }}) ?
                          </v-card-text>
                          <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn
                              color="green darken-1"
                              text
                              @click="
                                showDialogDeleteConfig(config.uuid, false)
                              "
                            >
                              Cancel
                            </v-btn>
                            <v-btn
                              color="green darken-1"
                              text
                              @click="deleteConfig(config.uuid)"
                            >
                              Delete config
                            </v-btn>
                          </v-card-actions>
                        </v-card>
                      </v-dialog>
                    </v-card>
                  </td>
                </tr>
              </tbody>
            </template>
          </v-data-table>
          <v-card outlined v-if="editableConfig">
            <v-card flat class="d-flex flex-row justify-space-between pr-4">
              <v-card-title class="text-subtitle-1">
                Edit experience configuration (UUID: {{ editableConfig.uuid }})
              </v-card-title>
              <v-card flat class="align-self-end">
                <v-btn
                  color="primary"
                  @click="updateConfig(editableConfig.uuid)"
                  :disabled="updateConfigDisabled"
                >
                  Update
                </v-btn>
              </v-card>
            </v-card>

            <v-card-text>
              <ApiErrorAlert :error="errorConfigStore"></ApiErrorAlert>

              <v-card flat class="d-flex flex-row align-center">
                Configuration name:
                <v-card flat max-width="300">
                  <v-text-field
                    v-model="editableConfig.name"
                    @input="configChanged()"
                    class="ml-4"
                  ></v-text-field>
                </v-card>
              </v-card>

              <v-divider class="my-4"></v-divider>

              <v-card
                v-for="(
                  sensors, sensorType, index
                ) in editableConfig.sensorsPerType"
                :key="index"
                flat
              >
                <v-card color="grey lighten-2" class="pa-2 pl-8" outlined>
                  <span class="font-weight-bold">{{ sensorType }}</span>
                </v-card>

                <v-card-text>
                  <v-data-table
                    dense
                    :headers="sensorsTableHeaders"
                    :items="sensors"
                    hide-default-footer
                    :items-per-page="-1"
                  >
                    <template v-slot:item.saveData="{ item }">
                      <v-switch
                        v-model="item.saveData"
                        hide-details
                        dense
                        class="mb-3"
                        @change="configChanged()"
                      ></v-switch>
                    </template>
                  </v-data-table>
                </v-card-text>
              </v-card>
            </v-card-text>
          </v-card>

          <v-btn class="mt-4" small text @click="showDialogCreateNewConfig"
            >Create new configuration</v-btn
          >
          <v-dialog v-model="dialogCreateNewConfig" persistent max-width="800">
            <v-card>
              <v-card-title class="headline"> Config dialog </v-card-title>
              <v-card-text>
                <FormError :error="errorMessageForm"></FormError>
                <ApiErrorAlert :error="errorConfigStore"></ApiErrorAlert>

                <v-text-field
                  label="New config name"
                  v-model="newConfigName"
                  :rules="$validationRules.CONFIG_NAME"
                ></v-text-field>

                <p>
                  The default sensors configuration will be applied. You can
                  edit the configuration later on.
                </p>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                  color="green darken-1"
                  text
                  @click="dialogCreateNewConfig = false"
                >
                  Cancel
                </v-btn>
                <v-btn color="green darken-1" text @click="createNewConfig()">
                  Create config
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-card-text>
      </v-card>
    </div>
    <v-snackbar v-model="snackbars.success" color="green" :timeout="2000">
      {{ snackbarMessage }}
    </v-snackbar>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import cloneDeep from 'lodash.clonedeep'
import FormError from '~/components/errors/form-error.vue'
import ApiErrorAlert from '~/components/errors/api-error-alert.vue'
import LoadingIndicatorCard from '~/components/cards/loading-indicator-card.vue'
import { Sensor } from '~/store/interfaces/sensors'
import { SensorType } from '~/store/enums/sensor-type.enum'
import { SensorsModuleState } from '~/store/sensors'
import { ApiError } from '~/store/interfaces/api-error'
import { ConfigsModuleState } from '~/store/configs'
import { UpdateConfigDto } from '~/store/interfaces/dtos/update-config.dto'
import { Config } from '~/store/interfaces/config'

export default Vue.extend({
  layout: 'admin_layout',
  components: { ApiErrorAlert, LoadingIndicatorCard, FormError },
  data() {
    return {
      newConfigName: '',
      configsTableHeaders: [
        { text: 'Config name' },
        { text: 'Config UUID' },
        { text: 'Created at' },
        { text: 'Created by' },
        { text: 'Action' },
      ],
      sensorsTableHeaders: [
        {
          text: 'Location',
          value: 'location',
          width: '150px',
        },
        {
          text: 'Name',
          value: 'name',
          width: '250px',
        },
        {
          text: 'IP',
          value: 'ip',
          width: '150px',
        },
        ,
        {
          text: 'Save data',
          value: 'saveData',
        },
      ],
      editableConfig: null as Config | null,
      errorMessageForm: '',
      dialogCreateNewConfig: false,
      dialogDeleteConfig: {},
      updateConfigDisabled: true,
      snackbars: {
        success: false,
      },
      snackbarMessage: '',
    }
  },
  computed: {
    sensorsModuleState(): SensorsModuleState {
      return this.$store.state.sensors as SensorsModuleState
    },
    configsModuleState(): ConfigsModuleState {
      return this.$store.state.configs as ConfigsModuleState
    },
    config(): Config | null {
      return this.configsModuleState.config
    },
    configs(): Config[] {
      return this.configsModuleState.configs
    },
    errorConfigStore(): ApiError | null {
      return this.configsModuleState.error
    },
    errorSensorsStore(): any {
      return this.sensorsModuleState.error
    },
    sensorsByType(): Record<SensorType, Sensor[]> | undefined {
      return this.config?.sensorsPerType
    },
    loaded(): boolean {
      return this.configsModuleState.configsFetched
    },
  },
  created() {},
  mounted() {
    this.resetErrorConfigsStore()
    this.listConfigs()
  },
  watch: {},
  methods: {
    listConfigs() {
      this.$store.dispatch('configs/FETCH_CONFIGS')
    },
    async createNewConfig() {
      if (
        this.newConfigName.length < this.$validationRules.CONFIG_NAME_MIN_LENGTH
      ) {
        this.errorMessageForm = 'Please set a valid config name'
        return
      }

      await this.$store.dispatch('configs/CREATE_CONFIG', {
        configName: this.newConfigName,
      })

      if (this.errorConfigStore === null) {
        this.dialogCreateNewConfig = false
        this.listConfigs()
      }
    },
    async updateConfig(configUuid: string) {
      if (this.editableConfig === null) {
        return
      }

      const updateConfigDto: UpdateConfigDto = {
        name: this.editableConfig.name,
        sensorsPerType: this.editableConfig.sensorsPerType,
      }

      await this.$store.dispatch('configs/UPDATE_CONFIG', {
        configUuid,
        updateConfigDto,
      })

      if (this.errorConfigStore === null) {
        this.listConfigs()
        this.snackbars.success = true
        this.snackbarMessage = 'Config successfully updated'
        this.updateConfigDisabled = true
      }
    },
    async resetErrorConfigsStore() {
      await this.$store.dispatch('configs/RESET_ERROR')
    },
    async showDialogCreateNewConfig() {
      if (this.errorConfigStore !== null) {
        await this.resetErrorConfigsStore()
      }

      this.dialogCreateNewConfig = true
    },
    showDialogDeleteConfig(configUuid: string, showDialog: boolean) {
      this.$set(this.dialogDeleteConfig, configUuid, showDialog)
    },
    async fetchConfig(configUuid: string) {
      await this.$store.dispatch('configs/FETCH_CONFIG', { configUuid })

      if (this.errorConfigStore === null && this.config !== null) {
        this.editableConfig = cloneDeep(this.config)
      }
    },
    configChanged() {
      this.updateConfigDisabled = false
    },
    async deleteConfig(configUuid: string) {
      await this.$store.dispatch('configs/DELETE_CONFIG', {
        configUuid,
      })

      this.$set(this.dialogDeleteConfig, configUuid, false)

      if (this.errorConfigStore === null) {
        this.snackbars.success = true
        this.snackbarMessage = 'Config successfully deleted'
        this.listConfigs()
      }
    },
  },
})
</script>
