<template>
  <div>
    <apiErrorAlert :error="errorSamplesStore" class="ma-5" />

    <h2>Exports</h2>
    <div v-if="!activeExportJobFetched">
      <LoadingIndicatorCard></LoadingIndicatorCard>
    </div>
    <div v-else>
      <div v-if="!activeExportJob">
        No active export job.
        <v-btn
          v-if="dataExists"
          @click="openDialogExportActiveExperiment()"
          :disabled="btnShowDialogCreateExportJobDisabled"
          class="ml-3"
        >
          Export data active experiment
        </v-btn>
        <v-dialog width="480" v-model="dialogCreateExportJob" persistent>
          <v-card>
            <v-card-title>Create new Export Job</v-card-title>
            <v-card-text>
              <v-date-picker full-width v-model="selectedDate" :max="today">
              </v-date-picker>
            </v-card-text>
            <v-card-actions class="d-flex flex-row justify-space-between">
              <v-btn @click="dialogCreateExportJob = false">Cancel</v-btn>
              <v-btn :disabled="!selectedDate" @click="createExportJob()">
                Create export job
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </div>
      <div v-else>
        <div v-if="!exportJobFetched">
          <LoadingIndicatorCard></LoadingIndicatorCard>
        </div>
        <div v-else>
          <div v-if="!exportJob">
            <!-- If an active export job exists, but not the linked export job, there is an issue ... -->
            <v-alert type="error" outlined>
              Failed to get export job
              {{ activeExportJob.exportJobUuid }}
            </v-alert>
          </div>
          <div v-else>
            <v-alert v-if="exportJobOnGoing" type="info" outlined>
              An export job is ongoing.
              <a :href="$router.currentRoute.fullPath">Refresh</a> the page to
              get updated status.
            </v-alert>
            <v-alert v-if="exportJobSucceeded" type="success" outlined>
              Export job successfully completed.
            </v-alert>
            <v-alert v-if="exportJobFailed" type="error" outlined>
              Export job failed.
            </v-alert>
            <ul>
              <li>Export job UUID: {{ exportJob.uuid }}</li>
              <li>
                Created At: {{ $getFormattedDateTime(exportJob.createdAt) }}
              </li>
              <li>Created by: {{ exportJob.createdBy.username }}</li>
              <li>Experiment: {{ exportJob.experiment.name }}</li>
              <li>
                <strong>Status: {{ exportJob.status }}</strong>
              </li>
              <li>
                Completed at:
                {{
                  exportJob.completedAt
                    ? $getFormattedDateTime(exportJob.completedAt)
                    : 'N/A'
                }}
              </li>
              <li v-if="exportJobSucceeded || exportJobFailed">
                Duration: {{ exportJob.duration }}s
              </li>
              <li v-if="exportJobSucceeded || exportJobFailed">
                Mongodump log:
                <v-textarea
                  outlined
                  readonly
                  :value="exportJob.mongodumpLog.join('')"
                  auto-grow
                  class="text-caption mt-4"
                >
                </v-textarea>
              </li>
            </ul>

            <v-btn class="mt-4" @click="resetActiveExport()"
              >Reset for next export</v-btn
            >
          </div>
        </div>
      </div>
    </div>

    <h2>Samples Collections Stats</h2>

    <div v-if="!samplesCollectionsStatsFetched">
      <LoadingIndicatorCard></LoadingIndicatorCard>
    </div>
    <div v-else>
      <p v-if="!dataExists">No sample saved yet in DB.</p>

      <v-card
        outlined
        v-for="(samplesCollectionStats, index) in samplesCollectionsStats"
        :key="index"
        class="my-2"
      >
        <v-card-title class="subtitle-2 py-1">
          Collection name: {{ samplesCollectionStats.collectionName }}
        </v-card-title>
        <v-divider></v-divider>

        <v-card-text>
          <li>
            Number of samples collected:
            {{ samplesCollectionStats.numberOfSamples }}
          </li>
          <li>
            Distinct sensors IPs:
            {{ samplesCollectionStats.distinctSensorsIps }}
          </li>
          <li>Size: {{ samplesCollectionStats.size | bytesToMegaBytes }} MB</li>
          <li>
            Storage size:
            {{ samplesCollectionStats.storageSize | bytesToMegaBytes }} MB
          </li>
          <li>
            Average object size:
            {{ samplesCollectionStats.avgObjSize | bytesToKiloBytes }} KB
          </li>
        </v-card-text>
      </v-card>

      <v-dialog
        v-model="dialogDropSampleCollections"
        v-if="dataExists"
        persistent
        max-width="800"
      >
        <template v-slot:activator="{ on }">
          <v-btn v-on="on" :disabled="!canEdit">
            <v-icon class="mr-2"> delete </v-icon>Delete samples collections
          </v-btn>
        </template>
        <v-card>
          <v-card-title class="headline">
            Do you really want to delete the Samples Collections?
          </v-card-title>
          <v-card-text>
            This will delete the samples from the database. This action cannot
            be undone.
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              color="green darken-1"
              text
              @click="dialogDropSampleCollections = false"
            >
              Cancel
            </v-btn>
            <v-btn
              color="green darken-1"
              text
              @click="dropSamplesCollections()"
            >
              Drop
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>

      <v-alert
        v-if="actionResult && actionResult.succeeded"
        type="success"
        dense
        outlined
      >
        {{ actionResult.message }}
      </v-alert>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import ApiErrorAlert from '~/components/errors/api-error-alert.vue'
import { ApiError } from '~/store/interfaces/api-error'
import { SamplesModuleState } from '~/store/samples'
import { SamplesCollectionStats } from '~/store/interfaces/samples-collection-stats'
import LoadingIndicatorCard from '~/components/cards/loading-indicator-card.vue'
import { ActiveExportJob } from '~/store/interfaces/active-export-job'
import { ExportJob, ExportJobStatus } from '~/store/interfaces/export-job'
import { CreateExportJobDto } from '~/store/interfaces/dtos/create-export-job.dto'

export default Vue.extend({
  layout: 'admin_layout',
  components: { ApiErrorAlert, LoadingIndicatorCard },
  data() {
    return {
      actionResult: null as any,
      dialogDropSampleCollections: false,
      btnShowDialogCreateExportJobDisabled: false,
      dialogCreateExportJob: false,
      selectedDate: '' as string | null,
    }
  },
  computed: {
    samplesModuleState(): SamplesModuleState {
      return this.$store.state.samples as SamplesModuleState
    },
    activeExportJob(): ActiveExportJob | null {
      return this.samplesModuleState.activeExportJob
    },
    activeExportJobFetched(): boolean {
      return this.samplesModuleState.activeExportJobFetched
    },
    exportJob(): ExportJob | null {
      return this.samplesModuleState.exportJob
    },
    exportJobFetched(): boolean {
      return this.samplesModuleState.exportJobFetched
    },
    exportJobSucceeded(): boolean {
      if (!this.exportJob) {
        return false
      }
      return this.exportJob.status === ExportJobStatus.SUCCEEDED
    },
    exportJobFailed(): boolean {
      if (!this.exportJob) {
        return false
      }
      return this.exportJob.status === ExportJobStatus.FAILED
    },
    exportJobOnGoing(): boolean {
      if (!this.exportJob) {
        return false
      }
      return this.exportJob.status === ExportJobStatus.ON_GOING
    },
    errorSamplesStore(): ApiError | null {
      return this.samplesModuleState.error
    },
    canEdit(): boolean {
      return this.$store.getters['auth/isAdmin']
    },
    samplesCollectionsStats(): SamplesCollectionStats[] | null {
      return this.samplesModuleState.samplesCollectionsStats
    },
    samplesCollectionsStatsFetched(): boolean {
      return this.samplesModuleState.samplesCollectionsStatsFetched
    },
    loaded(): boolean {
      return this.samplesCollectionsStatsFetched
    },
    dataExists(): boolean {
      if (!this.samplesCollectionsStatsFetched) {
        return false
      }

      if (this.samplesCollectionsStats !== null) {
        return this.samplesCollectionsStats.length > 0
      } else {
        return false
      }
    },
    today() {
      return new Date().toISOString().slice(0, 10)
    },
  },
  filters: {
    bytesToMegaBytes: (size: number) =>
      Math.round((size / (1000 * 1000)) * 100) / 100,
    bytesToKiloBytes: (size: number) => Math.round((size / 1000) * 100) / 100,
  },
  created() {},
  mounted() {
    this.$store.dispatch('samples/RESET_ERROR')
    this.fetchActiveExportJob()
    this.fetchSamplesCollectionsStats()
  },
  watch: {
    activeExportJob() {
      if (this.activeExportJob) {
        this.$store.dispatch('samples/FETCH_EXPORT_JOB', {
          exportJobUuid: this.activeExportJob.exportJobUuid,
        })
      }
    },
  },
  methods: {
    async dropSamplesCollections() {
      await this.$store.dispatch('samples/DELETE_SAMPLES_COLLECTIONS')
      if (this.errorSamplesStore === null) {
        this.actionResult = {
          succeeded: true,
          message: 'The collections have been successfully dropped.',
        }
        await this.fetchSamplesCollectionsStats()
      } else {
        this.actionResult = {
          succeeded: false,
          message: 'Failed to drop the collections.',
        }
      }
      this.dialogDropSampleCollections = false
    },
    async fetchSamplesCollectionsStats() {
      await this.$store.dispatch('samples/FETCH_SAMPLES_COLLECTIONS_STATS')
    },
    fetchActiveExportJob() {
      this.$store.dispatch('samples/FETCH_ACTIVE_EXPORT_JOB')
    },
    async createExportJob() {
      if (!this.selectedDate || this.selectedDate === '') {
        return
      }

      const dateExport = new Date(this.selectedDate)
      dateExport.setUTCHours(0, 0, 0, 0)

      const createExportJobDto: CreateExportJobDto = {
        date: dateExport,
      }

      this.dialogCreateExportJob = false

      await this.$store.dispatch('samples/CREATE_EXPORT_JOB', {
        createExportJobDto,
      })

      if (this.errorSamplesStore === null) {
        this.fetchActiveExportJob()
      }
    },
    async resetActiveExport() {
      await this.$store.dispatch('samples/RESET_ACTIVE_EXPORT_JOB')
      this.fetchActiveExportJob()
    },
    async openDialogExportActiveExperiment() {
      // Reset previous error if any
      await this.$store.dispatch('samples/RESET_ERROR')

      // Open dialog
      this.dialogCreateExportJob = true
    },
  },
})
</script>
