<template>
  <div>
    <v-card flat>
      <v-card-title>Participants</v-card-title>
      <v-card-text
        >Participants are anonymized users that take part to an
        experiment.</v-card-text
      >
    </v-card>

    <v-card flat>
      <v-card-title> Defined participants </v-card-title>
      <v-card-text>
        <div v-if="!loaded">
          <LoadingIndicatorCard></LoadingIndicatorCard>
        </div>
        <div v-else>
          <ApiErrorAlert
            :error="errorParticipantsStore"
            v-if="!isDialogOpen"
          ></ApiErrorAlert>

          <v-data-table
            dense
            :items="participants"
            :headers="participantsTableHeaders"
            :items-per-page="-1"
          >
            <template v-slot:body="{ items }">
              <tbody>
                <tr v-for="participant in items" :key="participant.uuid">
                  <td>{{ participant.uuid }}</td>
                  <td>{{ participant.shortNote }}</td>
                  <td>{{ $getFormattedDateTime(participant.createdAt) }}</td>
                  <td>
                    {{ participant.createdBy.firstname }}
                    {{ participant.createdBy.lastname }}
                    ({{ participant.createdBy.email }})
                  </td>
                  <td>
                    <v-btn
                      icon
                      x-small
                      @click="showDialogEditParticipant(participant.uuid, true)"
                    >
                      <v-icon>edit</v-icon>
                    </v-btn>
                    <v-dialog
                      v-if="dialogEditParticipant[participant.uuid]"
                      value="true"
                      persistent
                      max-width="800"
                    >
                      <v-card>
                        <v-card-title>
                          Edit participant
                          <v-spacer></v-spacer>
                          <v-btn
                            icon
                            @click="
                              showDialogEditParticipant(participant.uuid, false)
                            "
                          >
                            <v-icon>close</v-icon>
                          </v-btn>
                        </v-card-title>
                        <v-card-text>
                          <ParticipantForm
                            :participant="participant"
                            :is-edit-mode="true"
                            @participant-updated="
                              onParticipantUpdated(participant.uuid)
                            "
                          ></ParticipantForm>
                        </v-card-text>
                      </v-card>
                    </v-dialog>
                    <v-btn
                      icon
                      x-small
                      @click="
                        showDialogDeleteParticipant(participant.uuid, true)
                      "
                      ><v-icon>delete</v-icon></v-btn
                    >
                    <v-dialog
                      v-model="dialogDeleteParticipant[participant.uuid]"
                      persistent
                      max-width="800"
                    >
                      <v-card>
                        <v-card-title>Delete participant</v-card-title>
                        <v-card-text>
                          Do you really want to delete participant
                          {{ participant.uuid }} ({{ participant.shortNote }}) ?
                        </v-card-text>
                        <v-card-actions>
                          <v-spacer></v-spacer>
                          <v-btn
                            color="green darken-1"
                            text
                            @click="
                              showDialogDeleteParticipant(
                                participant.uuid,
                                false
                              )
                            "
                          >
                            Cancel
                          </v-btn>
                          <v-btn
                            color="green darken-1"
                            text
                            @click="deleteParticipant(participant.uuid)"
                          >
                            Delete participant
                          </v-btn>
                        </v-card-actions>
                      </v-card>
                    </v-dialog>
                  </td>
                </tr>
              </tbody>
            </template>
          </v-data-table>

          <v-card flat class="d-flex justify-space-between">
            <v-btn
              class="mt-4"
              small
              text
              @click="dialogCreateNewParticipant = true"
            >
              Create new Participant
            </v-btn>
            <v-btn
              class="mt-4"
              small
              text
              @click="dialogCreateParticipantsFromShortNoteList = true"
            >
              Create participants from a list of participants short notes
            </v-btn>
          </v-card>
          <v-dialog
            v-if="dialogCreateNewParticipant"
            value="true"
            persistent
            max-width="800"
          >
            <v-card>
              <v-card-title>
                Create new Participant
                <v-spacer></v-spacer>
                <v-btn icon @click="showDialogCreateNewParticipant(false)">
                  <v-icon>close</v-icon>
                </v-btn>
              </v-card-title>
              <v-card-text>
                <ParticipantForm
                  :is-edit-mode="false"
                  @participant-created="onParticipantCreated()"
                ></ParticipantForm>
              </v-card-text>
            </v-card>
          </v-dialog>
          <CreateParticipantFromListDialog
            v-model="dialogCreateParticipantsFromShortNoteList"
          >
          </CreateParticipantFromListDialog>
        </div>
      </v-card-text>
    </v-card>

    <v-snackbar v-model="snackbars.success" color="green" :timeout="2000">
      {{ snackbarMessage }}
    </v-snackbar>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import { ParticipantsModuleState } from '~/store/participants'
import { Participant } from '~/store/interfaces/participant'
import LoadingIndicatorCard from '~/components/cards/loading-indicator-card.vue'
import ParticipantForm from '~/components/forms/participant.form.vue'
import CreateParticipantFromListDialog from '~/components/dialogs/create-participants-from-list.dialog.vue'
import ApiErrorAlert from '~/components/errors/api-error-alert.vue'
import { ApiError } from '~/store/interfaces/api-error'

export default Vue.extend({
  layout: 'admin_layout',
  components: {
    LoadingIndicatorCard,
    ApiErrorAlert,
    ParticipantForm,
    CreateParticipantFromListDialog,
  },
  data() {
    return {
      dialogCreateNewParticipant: false,
      dialogDeleteParticipant: {},
      dialogEditParticipant: {},
      dialogCreateParticipantsFromShortNoteList: false,
      isDisplayingEditDialog: false,
      participantsTableHeaders: [
        { text: 'UUID' },
        { text: 'Short note' },
        { text: 'Created At' },
        { text: 'Created By' },
        { text: 'Actions' },
      ],
      snackbars: {
        success: false,
      },
      snackbarMessage: '',
    }
  },
  computed: {
    participantsModuleState(): ParticipantsModuleState {
      return this.$store.state.participants as ParticipantsModuleState
    },
    participants(): Participant[] {
      return this.participantsModuleState.participants
    },
    errorParticipantsStore(): ApiError | null {
      return this.participantsModuleState.error
    },
    loaded(): boolean {
      return this.participantsModuleState.participantsFetched
    },
    isDialogOpen(): boolean {
      return (
        this.dialogCreateNewParticipant ||
        Object.values(this.dialogEditParticipant).includes(true) ||
        Object.values(this.dialogDeleteParticipant).includes(true) ||
        this.dialogCreateParticipantsFromShortNoteList
      )
    },
  },
  mounted() {
    this.listParticipants()
  },
  created() {},
  methods: {
    listParticipants() {
      this.$store.dispatch('participants/FETCH_PARTICIPANTS')
    },
    async resetErrorParticipantsStore() {
      await this.$store.dispatch('participants/RESET_ERROR')
    },
    async showDialogCreateNewParticipant(showDialog: boolean) {
      // Reset error when closing/opening create new participant dialog if any
      if (this.errorParticipantsStore !== null) {
        await this.resetErrorParticipantsStore()
      }

      this.dialogCreateNewParticipant = showDialog
    },
    async showDialogEditParticipant(uuid: string, showDialog: boolean) {
      this.isDisplayingEditDialog = showDialog

      // Reset error when closing/opening edit dialog if any
      if (this.errorParticipantsStore !== null) {
        await this.resetErrorParticipantsStore()
      }
      this.$set(this.dialogEditParticipant, uuid, showDialog)
    },
    showDialogDeleteParticipant(participantUuid: string, showDialog: boolean) {
      this.$set(this.dialogDeleteParticipant, participantUuid, showDialog)
    },
    async deleteParticipant(participantUuid: string) {
      await this.$store.dispatch('participants/DELETE_PARTICIPANT', {
        participantUuid,
      })

      this.$set(this.dialogDeleteParticipant, participantUuid, false)

      if (this.errorParticipantsStore === null) {
        this.snackbars.success = true
        this.snackbarMessage = 'Participant successfully deleted'
        this.listParticipants()
      }
    },
    onParticipantCreated() {
      this.dialogCreateNewParticipant = false
      this.snackbars.success = true
      this.snackbarMessage = 'Participant successfully created'
      this.listParticipants()
    },
    onParticipantUpdated(oldParticipantUuid: string) {
      this.showDialogEditParticipant(oldParticipantUuid, false)
      this.snackbars.success = true
      this.snackbarMessage = 'Participant successfully updated'
      this.listParticipants()
    },
  },
})
</script>
