<template>
  <div>
    <h1>Experiments configuration</h1>

    <v-tabs>
      <v-tab nuxt to="/admin/experiments_configuration/configs">Configs</v-tab>
      <v-tab nuxt to="/admin/experiments_configuration/experiments/list">
        Experiments
      </v-tab>
      <v-tab nuxt to="/admin/experiments_configuration/participants">
        Participants
      </v-tab>
      <v-tab nuxt to="/admin/experiments_configuration/data-management">
        Data management
      </v-tab>
    </v-tabs>
    <div style="border-top: solid 1px #ddd; padding-top: 30px">
      <nuxt-child />
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
  layout: 'admin_layout',
  components: {},
  middleware: 'admin_role',
  data() {
    return {}
  },
  computed: {},
  created() {},
  methods: {},
})
</script>
