<template>
  <div>
    <h1>Log book</h1>

    <ApiErrorAlert :error="errorLogBookStore"></ApiErrorAlert>

    <div v-if="!loaded">
      <LoadingIndicatorCard></LoadingIndicatorCard>
    </div>
    <div v-else>
      <v-row>
        <v-col cols="2">
          <v-menu
            v-model="dateMenu"
            :close-on-content-click="false"
            :nudge-right="40"
            transition="scale-transition"
            offset-y
            min-width="auto"
          >
            <template v-slot:activator="{ on, attrs }">
              <v-text-field
                v-model="datePicker"
                label="Select a date"
                prepend-icon="mdi-calendar"
                readonly
                v-bind="attrs"
                v-on="on"
                clearable
              ></v-text-field>
            </template>

            <v-date-picker
              @input="dateMenu = false"
              v-model="datePicker"
            ></v-date-picker>
          </v-menu>
        </v-col>
        <v-col cols="4">
          <v-select
            label="Filter user"
            v-model="selectedUserUserName"
            :items="users"
            clearable
            prepend-icon="mdi-account-tie"
            item-value="username"
            item-text="username"
          ></v-select>
          <v-select
            label="Filter experiment"
            :items="experiments"
            clearable
            item-value="uuid"
            item-text="name"
            prepend-icon="science"
            v-model="selectedExperimentUuid"
          ></v-select>
          <v-select
            label="Filter participant"
            :items="participants"
            clearable
            item-value="uuid"
            prepend-icon="mdi-account-search"
            v-model="selectedParticipantUuid"
          >
            <template v-slot:item="{ item }">
              {{ item.shortNote }} ({{ item.uuid }})
            </template>
            <template v-slot:selection="{ item }">
              {{ item.shortNote }} ({{ item.uuid }})
            </template>
          </v-select>
        </v-col>
        <v-col>
          <v-text-field
            v-model="search"
            clearable
            label="Search for log messages containing text"
          ></v-text-field>
          <v-select
            label="Filter tags"
            :items="logBookTagsList"
            clearable
            multiple
            prepend-icon="mdi-tag-multiple"
            v-model="selectedTags"
          ></v-select>
        </v-col>
      </v-row>

      <v-divider class="my-4"></v-divider>
      <div v-if="filteredLogBook.length === 0">Nothing to show</div>
      <div v-else>
        <template v-for="(logLine, index) in filteredLogBook">
          <span :key="index" class="text-caption">
            {{ $getFormattedDateTime(logLine.datetime) }} [{{
              logLine.username
            }}] [{{ logLine.experimentUuid }}]
            <v-chip
              outlined
              x-small
              v-for="(tag, index) in logLine.tags"
              :key="index"
            >
              {{ tag }}
            </v-chip>
            {{ logLine.log }}
            <br />
          </span>
        </template>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import LoadingIndicatorCard from '~/components/cards/loading-indicator-card.vue'

import ApiErrorAlert from '~/components/errors/api-error-alert.vue'
import { ApiError } from '~/store/interfaces/api-error'
import { LogBookModuleState } from '~/store/logbook'
import { ExperimentLog } from '~/store/interfaces/experiment-log'
import { UsersModuleState } from '~/store/users'
import { User } from '~/store/interfaces/user'
import { ExperimentsModuleState } from '~/store/experiments'
import { Experiment } from '~/store/interfaces/experiment'
import { ParticipantsModuleState } from '~/store/participants'
import { Participant } from '~/store/interfaces/participant'
import { LogbookInfo } from '~/store/interfaces/logbook-info'

export default Vue.extend({
  layout: 'admin_layout',
  components: { LoadingIndicatorCard, ApiErrorAlert },
  middleware: 'admin_role',
  data() {
    return {
      selectedUserUserName: null as null | string,
      selectedExperimentUuid: null as null | string,
      selectedParticipantUuid: null as null | string,
      selectedTags: [] as string[],
      datePicker: null as null | string,
      dateMenu: false,
      search: '',
    }
  },
  computed: {
    logBookModuleState(): LogBookModuleState {
      return this.$store.state.logbook as LogBookModuleState
    },
    logBook(): ExperimentLog[] {
      return this.logBookModuleState.logBook
    },
    logBookInfo(): null | LogbookInfo {
      return this.logBookModuleState.logBookInfo
    },
    filteredLogBook(): ExperimentLog[] {
      let logBook = this.logBook

      // Filter date
      if (this.datePicker) {
        const selectedDate = new Date(this.datePicker)

        const nextDayOfSelectedDate = new Date(selectedDate)
        nextDayOfSelectedDate.setDate(nextDayOfSelectedDate.getDate() + 1)

        logBook = logBook.filter(
          (line) =>
            line.datetime > selectedDate.getTime() / 1000 &&
            line.datetime < nextDayOfSelectedDate.getTime() / 1000
        )
      }

      // Filter logs with selected user
      if (this.selectedUserUserName) {
        logBook = logBook.filter(
          (line) => line.username === this.selectedUserUserName
        )
      }

      // Filter logs with selected experiment
      if (this.selectedExperimentUuid) {
        logBook = logBook.filter(
          (line) => line.experimentUuid === this.selectedExperimentUuid
        )
      }

      // Filter logs with selected participant
      if (this.selectedParticipantUuid) {
        logBook = logBook.filter((line) =>
          line.log.toLowerCase().includes(this.selectedParticipantUuid!)
        )
      }

      // Filter logs containing text
      if (this.search) {
        logBook = logBook.filter((line) =>
          line.log.toLowerCase().includes(this.search.toLowerCase())
        )
      }

      // Filter log lines containing selected tags
      if (this.selectedTags.length > 0) {
        logBook = logBook.filter((line) =>
          line.tags.some((tag) => this.selectedTags.includes(tag))
        )
      }

      return logBook
    },
    errorLogBookStore(): ApiError | null {
      return this.logBookModuleState.error
    },
    loaded(): boolean {
      return (
        this.logBookModuleState.logBookFetched &&
        this.logBookModuleState.logBookInfoFetched &&
        this.usersModuleState.usersFetched &&
        this.experimentsModuleState.experimentsFetched
      )
    },
    usersModuleState(): UsersModuleState {
      return this.$store.state.users as UsersModuleState
    },
    users(): User[] {
      return this.usersModuleState.users
    },
    experimentsModuleState(): ExperimentsModuleState {
      return this.$store.state.experiments as ExperimentsModuleState
    },
    experiments(): Experiment[] {
      return this.experimentsModuleState.experiments
    },
    participantsModuleState(): ParticipantsModuleState {
      return this.$store.state.participants as ParticipantsModuleState
    },
    participants(): Participant[] {
      return this.participantsModuleState.participants
    },
    logBookTagsList(): string[] {
      if (this.logBookInfo === null) {
        return []
      }
      return this.logBookInfo.tags
    },
  },
  mounted() {
    this.$store.dispatch('logbook/FETCH_LOG_BOOK')
    this.$store.dispatch('logbook/FETCH_LOG_BOOK_INFO')
    this.$store.dispatch('users/FETCH_USERS')
    this.$store.dispatch('experiments/FETCH_EXPERIMENTS')
    this.$store.dispatch('participants/FETCH_PARTICIPANTS')

    // set current date by default (format YYYY-MM-DD)
    this.datePicker = new Date().toISOString().slice(0, 10)
  },
  created() {},
  methods: {},
})
</script>
