<template>
  <div>
    <h1>Bookings</h1>

    <ApiErrorAlert
      :error="errorBookingsModule"
      v-if="!isDialogOpen"
    ></ApiErrorAlert>

    <div v-if="!loaded">
      <LoadingIndicatorCard></LoadingIndicatorCard>
    </div>
    <div v-else>
      <h2>Rooms</h2>

      <v-data-table :items="rooms" :headers="headers">
        <template v-slot:item.actions="{ item }">
          <v-btn @click="showDialogEditRoom(item.uuid, true)" icon small>
            <v-icon small>edit</v-icon>
          </v-btn>
          <v-dialog
            v-if="dialogEditRoom[item.uuid]"
            value="true"
            persistent
            max-width="800"
          >
            <v-card>
              <v-card-title>
                Edit room
                <v-spacer></v-spacer>
                <v-btn icon @click="showDialogEditRoom(item.uuid, false)">
                  <v-icon>close</v-icon>
                </v-btn>
              </v-card-title>
              <v-card-text>
                <RoomForm
                  :is-edit-mode="true"
                  :room="item"
                  @room-updated="onRoomUpdated(item.uuid)"
                ></RoomForm>
              </v-card-text>
            </v-card>
          </v-dialog>

          <v-btn
            icon
            @click="showDialogDeleteRoom(item.uuid, true)"
            small
            class="ml-4"
          >
            <v-icon small>delete</v-icon>
          </v-btn>
          <v-dialog
            v-if="dialogDeleteRoom[item.uuid]"
            value="true"
            persistent
            max-width="800"
          >
            <v-card>
              <v-card-title> Delete room </v-card-title>
              <v-card-text>
                <p>
                  Are you sure that you want to delete room :
                  {{ item.name }} ?
                </p>
                <p class="red--text">
                  This will delete all the bookings associated with that room.
                </p>
              </v-card-text>
              <v-card-actions class="d-flex justify-space-between">
                <v-btn @click="showDialogDeleteRoom(item.uuid, false)" text>
                  Cancel
                </v-btn>
                <v-btn @click="deleteRoom(item.uuid)" text>Yes</v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </template>
      </v-data-table>

      <v-btn @click="dialogCreateRoom = true" small outlined
        >Create new room</v-btn
      >

      <v-dialog v-if="dialogCreateRoom" value="true" persistent max-width="800">
        <v-card>
          <v-card-title>
            Create new Room
            <v-spacer></v-spacer>
            <v-btn icon @click="dialogCreateRoom = false">
              <v-icon>close</v-icon>
            </v-btn>
          </v-card-title>
          <v-card-text>
            <RoomForm
              :is-edit-mode="false"
              @room-created="onRoomCreated"
            ></RoomForm>
          </v-card-text>
        </v-card>
      </v-dialog>

      <v-snackbar outlined timeout="1500" color="green" v-model="snackbar.show">
        {{ snackbar.message }}
      </v-snackbar>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import LoadingIndicatorCard from '~/components/cards/loading-indicator-card.vue'
import RoomForm from '~/components/forms/room.form.vue'
import ApiErrorAlert from '~/components/errors/api-error-alert.vue'
import { ApiError } from '~/store/interfaces/api-error'
import { Booking } from '~/store/interfaces/bookings/bookings'
import { BookingsModuleState } from '~/store/bookings'
import { Room } from '~/store/interfaces/bookings/room'

export interface BookingDialogProperties {
  show: boolean
  isEditMode: boolean
  booking: Booking | null
}

export default Vue.extend({
  layout: 'admin_layout',
  middleware: 'admin_role',
  components: {
    ApiErrorAlert,
    LoadingIndicatorCard,
    RoomForm,
  },
  data() {
    return {
      headers: [
        {
          text: 'UUID',
          value: 'uuid',
        },
        {
          text: 'Name',
          value: 'name',
        },
        {
          text: 'Actions',
          value: 'actions',
        },
      ],
      dialogCreateRoom: false,
      dialogEditRoom: {},
      dialogDeleteRoom: {},
      snackbar: {
        show: false,
        success: false,
        message: '',
      },
    }
  },
  computed: {
    bookingsModuleState(): BookingsModuleState {
      return this.$store.state.bookings as BookingsModuleState
    },
    errorBookingsModule(): ApiError | null {
      return this.bookingsModuleState.error
    },
    loaded(): boolean {
      return this.bookingsModuleState.roomsFetched
    },
    rooms(): Room[] {
      return this.bookingsModuleState.rooms
    },
    isDialogOpen(): boolean {
      return (
        this.dialogCreateRoom ||
        Object.values(this.dialogEditRoom).includes(true) ||
        Object.values(this.dialogDeleteRoom).includes(true)
      )
    },
  },
  async fetch({ store }) {
    await store.dispatch('bookings/RESET_BOOKINGS')
  },
  mounted() {
    this.fetchRooms()
  },
  created() {},
  methods: {
    fetchRooms() {
      this.$store.dispatch('bookings/FETCH_ROOMS')
    },
    onRoomCreated() {
      this.dialogCreateRoom = false
      this.snackbar.message = 'Room created'
      this.snackbar.show = true
      this.fetchRooms()
    },
    onRoomUpdated(roomUuid: string) {
      this.showDialogEditRoom(roomUuid, false)
      this.snackbar.message = 'Room updated'
      this.snackbar.show = true
      this.fetchRooms()
    },
    showDialogEditRoom(uuid: string, showDialog: boolean) {
      this.$set(this.dialogEditRoom, uuid, showDialog)
    },
    showDialogDeleteRoom(uuid: string, showDialog: boolean) {
      this.$set(this.dialogDeleteRoom, uuid, showDialog)
    },
    async deleteRoom(roomUuid: string) {
      await this.$store.dispatch('bookings/DELETE_ROOM', { roomUuid })

      if (this.errorBookingsModule === null) {
        this.snackbar.message = 'Room deleted'
        this.snackbar.show = true

        this.showDialogDeleteRoom(roomUuid, false)
        this.fetchRooms()
      }
    },
  },
})
</script>
