<template>
  <div>
    <v-card flat class="d-flex flex-row justify-lg-space-between align-center">
      <h1>Screen entrance loft</h1>
      <a v-if="messageScreenEntrance" href="/entrance_screen" target="_blank"
        >View page screen entrance</a
      >
    </v-card>

    <p>
      Configure the message to be displayed on the screen of entrance loft here.
    </p>

    <ApiErrorAlert :error="errorExperimentsStore"></ApiErrorAlert>

    <div v-if="!loaded">
      <LoadingIndicatorCard></LoadingIndicatorCard>
    </div>
    <div v-else>
      <div v-if="!messageScreenEntrance">
        <v-alert type="info" outlined>
          No message configured yet. Please enter a message to be displayed on
          the entrance door of the loft using the form below.
        </v-alert>
      </div>
      <v-textarea
        v-model="messageScreenEntranceEdit.message"
        label="Message"
        outlined
      ></v-textarea>
      <div v-if="messageScreenEntrance">
        <v-text-field
          readonly
          disabled
          label="Updated at"
          :value="$getFormattedDateTime(messageScreenEntranceEdit.updatedAt)"
        ></v-text-field>
        <v-text-field
          readonly
          disabled
          label="Updated By"
          :value="messageScreenEntranceEdit.createdByUserFullName"
        ></v-text-field>
      </div>
      <v-btn style="float: right" @click="setMessageScreenEntrance()">
        Save
      </v-btn>
    </div>
    <v-snackbar v-model="snackbars.success" color="green" :timeout="2000">
      {{ snackbarMessage }}
    </v-snackbar>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import cloneDeep from 'lodash.clonedeep'
import LoadingIndicatorCard from '~/components/cards/loading-indicator-card.vue'

import ApiErrorAlert from '~/components/errors/api-error-alert.vue'
import { ApiError } from '~/store/interfaces/api-error'
import { ExperimentsModuleState } from '~/store/experiments'
import { CreateMessageScreenEntranceDto } from '~/store/interfaces/dtos/create-message-screen-entrance.dto'
import { MessageScreenEntrance } from '~/store/interfaces/message-screen-entrance'

export default Vue.extend({
  layout: 'admin_layout',
  components: { LoadingIndicatorCard, ApiErrorAlert },
  middleware: 'admin_role',
  data() {
    return {
      messageScreenEntranceEdit: {} as MessageScreenEntrance,
      snackbars: {
        success: false,
      },
      snackbarMessage: '',
    }
  },
  computed: {
    experimentsModuleState(): ExperimentsModuleState {
      return this.$store.state.experiments as ExperimentsModuleState
    },
    errorExperimentsStore(): ApiError | null {
      return this.experimentsModuleState.error
    },
    loaded(): boolean {
      return this.experimentsModuleState.messageScreenEntranceFetched
    },
    messageScreenEntrance(): MessageScreenEntrance | null {
      return this.experimentsModuleState.messageScreenEntrance
    },
  },
  mounted() {
    this.$store.dispatch('experiments/FETCH_MESSAGE_SCREEN_ENTRANCE')
  },
  created() {},
  methods: {
    async setMessageScreenEntrance() {
      const createMessageScreenEntranceDto: CreateMessageScreenEntranceDto = {
        message: this.messageScreenEntranceEdit.message,
      }
      await this.$store.dispatch('experiments/SET_MESSAGE_SCREEN_ENTRANCE', {
        createMessageScreenEntranceDto,
      })

      if (this.errorExperimentsStore === null) {
        this.snackbarMessage = 'Message successfully updated'
        this.snackbars.success = true
      }
    },
  },
  watch: {
    messageScreenEntrance() {
      if (this.messageScreenEntrance) {
        this.messageScreenEntranceEdit = cloneDeep(this.messageScreenEntrance)
      }
    },
  },
})
</script>
