<template>
  <div>
    <h1>Users management</h1>

    <v-card flat>
      <v-card-title> Users </v-card-title>
      <v-card-text>
        Users define persons having access to the Sensor Monitoring Dashboard.
      </v-card-text>
    </v-card>
    <v-card flat>
      <v-card-title>User roles</v-card-title>
      <v-card-text>
        <ul>
          <li>
            Admin: administrators can:
            <ul>
              <li>Manage users and their roles</li>
              <li>Manage experiments and their lifecycle</li>
              <ul>
                <li>Manage configs (sensors configuration)</li>
                <li>Manage participants</li>
                <li>Export data</li>
                <li>Clear the database of samples</li>
              </ul>

              <li>Create rooms for the booking system</li>
              <li>Configure the entrance screen</li>
              <li>Visualize the cameras</li>
            </ul>
          </li>
          <li>
            Operator: operators can:
            <ul>
              <li>
                Start/stop recording for an active experiment for a participant
              </li>
              <li>
                Visualise the status of the sensors of the active experiment
              </li>
              <li>Visualize the cameras</li>
            </ul>
          </li>
          <li>Secretariat: can create bookings for a room.</li>
        </ul>
      </v-card-text>
    </v-card>

    <h2>Defined users</h2>
    <div v-if="!loaded">
      <LoadingIndicatorCard></LoadingIndicatorCard>
    </div>
    <div v-else>
      <ApiErrorAlert
        :error="errorUsersStore"
        v-if="!isDisplayingDialog"
      ></ApiErrorAlert>

      <v-data-table dense :items="users" :headers="usersTableHeaders">
        <template v-slot:body="{ items }">
          <tbody>
            <tr v-for="user in items" :key="user.username">
              <td>{{ user.firstname }}</td>
              <td>{{ user.lastname }}</td>
              <td>{{ user.username }}</td>
              <td>{{ user.email }}</td>
              <td>{{ user.roles }}</td>
              <td>{{ $getFormattedDateTime(user.createdAt) }}</td>
              <td>{{ $getFormattedDateTime(user.updatedAt) }}</td>
              <td>
                <v-btn
                  icon
                  x-small
                  @click="showDialogEditUser(user.username, true)"
                >
                  <v-icon>edit</v-icon>
                </v-btn>
                <v-dialog
                  v-if="dialogEditUser[user.username]"
                  value="true"
                  persistent
                  max-width="800"
                >
                  <v-card>
                    <v-card-title>
                      Edit user
                      <v-spacer></v-spacer>
                      <v-btn
                        icon
                        @click="showDialogEditUser(user.username, false)"
                      >
                        <v-icon>close</v-icon>
                      </v-btn>
                    </v-card-title>
                    <v-card-text>
                      <UserForm
                        :user="user"
                        :is-edit-mode="true"
                        @user-updated="onUserUpdated(user.username)"
                      ></UserForm>
                    </v-card-text>
                  </v-card>
                </v-dialog>

                <v-btn
                  icon
                  x-small
                  @click="showDialogDeleteUser(user.username, true)"
                  v-if="!isUserCurrentUser(user.username)"
                >
                  <v-icon>delete</v-icon>
                </v-btn>
                <v-dialog
                  v-model="dialogDeleteUser[user.username]"
                  persistent
                  max-width="800"
                >
                  <v-card>
                    <v-card-title>Delete user</v-card-title>
                    <v-card-text>
                      Do you really want to delete user "{{ user.username }}" ?
                    </v-card-text>
                    <v-card-actions>
                      <v-spacer></v-spacer>
                      <v-btn
                        color="green darken-1"
                        text
                        @click="showDialogDeleteUser(user.username, false)"
                      >
                        Cancel
                      </v-btn>
                      <v-btn
                        color="green darken-1"
                        text
                        @click="deleteUser(user.username)"
                      >
                        Delete user
                      </v-btn>
                    </v-card-actions>
                  </v-card>
                </v-dialog>
              </td>
            </tr>
          </tbody>
        </template>
      </v-data-table>

      <v-btn class="mt-4" small text @click="showDialogCreateNewUser(true)">
        Create new User
      </v-btn>
      <v-dialog
        v-if="dialogCreateNewUser"
        value="true"
        persistent
        max-width="800"
      >
        <v-card>
          <v-card-title>
            Create new user
            <v-spacer></v-spacer>
            <v-btn icon @click="showDialogCreateNewUser(false)">
              <v-icon>close</v-icon>
            </v-btn>
          </v-card-title>
          <v-card-text>
            <UserForm
              :is-edit-mode="false"
              @user-created="onUserCreated()"
            ></UserForm>
          </v-card-text>
        </v-card>
      </v-dialog>
    </div>
    <v-snackbar v-model="snackbars.success" color="green" :timeout="2000">
      {{ snackbarMessage }}
    </v-snackbar>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import LoadingIndicatorCard from '~/components/cards/loading-indicator-card.vue'
import UserForm from '~/components/forms/user.form.vue'

import ApiErrorAlert from '~/components/errors/api-error-alert.vue'
import { ApiError } from '~/store/interfaces/api-error'
import { UsersModuleState } from '~/store/users'
import { Role, User } from '~/store/interfaces/user'
import { AuthModuleState } from '~/store/auth'

export default Vue.extend({
  layout: 'admin_layout',
  components: { LoadingIndicatorCard, ApiErrorAlert, UserForm },
  middleware: 'admin_role',
  data() {
    return {
      dialogCreateNewUser: false,
      dialogEditUser: {},
      isDisplayingEditDialog: false,
      dialogDeleteUser: {},
      usersTableHeaders: [
        { text: 'Firstname' },
        { text: 'Lastname' },
        { text: 'Username' },
        { text: 'Email' },
        { text: 'Roles' },
        { text: 'Created At' },
        { text: 'Updated At' },
        { text: 'Actions' },
      ],
      snackbars: {
        success: false,
      },
      snackbarMessage: '',
    }
  },
  computed: {
    usersModuleState(): UsersModuleState {
      return this.$store.state.users as UsersModuleState
    },
    users(): User[] {
      return this.usersModuleState.users
    },
    errorUsersStore(): ApiError | null {
      return this.usersModuleState.error
    },
    loaded(): boolean {
      return this.usersModuleState.usersFetched
    },
    rolesToSelect(): any[] {
      return Object.keys(Role).map((key) => {
        // Fix typescript warning (no index signature with parameters of type string)
        const k = key as keyof typeof Role
        return {
          text: key,
          value: Role[k],
        }
      })
    },
    isDisplayingDialog(): boolean {
      return this.dialogCreateNewUser || this.isDisplayingEditDialog
    },
    authModuleState(): AuthModuleState {
      return this.$store.state.auth as AuthModuleState
    },
    currentlyLoggedInUser(): User | null {
      return this.authModuleState.user
    },
  },
  mounted() {
    this.listUsers()
  },
  created() {},
  methods: {
    listUsers() {
      this.$store.dispatch('users/FETCH_USERS')
    },
    async resetErrorUsersStore() {
      await this.$store.dispatch('users/RESET_ERROR')
    },
    async showDialogCreateNewUser(showDialog: boolean) {
      // Reset error when closing/opening create new user dialog if any
      if (this.errorUsersStore !== null) {
        await this.resetErrorUsersStore()
      }

      this.dialogCreateNewUser = showDialog
    },
    async showDialogEditUser(username: string, showDialog: boolean) {
      this.isDisplayingEditDialog = showDialog

      // Reset error when closing/opening edit dialog if any
      if (this.errorUsersStore !== null) {
        await this.resetErrorUsersStore()
      }
      this.$set(this.dialogEditUser, username, showDialog)
    },
    showDialogDeleteUser(username: string, showDialog: boolean) {
      this.$set(this.dialogDeleteUser, username, showDialog)
    },
    async deleteUser(username: string) {
      await this.$store.dispatch('users/DELETE_USER', {
        username,
      })

      this.$set(this.dialogDeleteUser, username, false)

      if (this.errorUsersStore === null) {
        this.snackbars.success = true
        this.snackbarMessage = 'User successfully deleted'
        this.listUsers()
      }
    },
    onUserCreated() {
      this.dialogCreateNewUser = false
      this.snackbars.success = true
      this.snackbarMessage = 'User successfully created'
      this.listUsers()
    },
    onUserUpdated(oldUsername: string) {
      this.showDialogEditUser(oldUsername, false)
      this.snackbars.success = true
      this.snackbarMessage = 'User successfully updated'
      this.listUsers()
    },
    isUserCurrentUser(username: string): boolean {
      return this.currentlyLoggedInUser
        ? this.currentlyLoggedInUser.username === username
        : false
    },
  },
})
</script>
