<template>
  <div>
    <h1>Bookings</h1>

    <ApiErrorAlert
      :error="errorBookingsModule"
      v-if="!isDialogOpen"
    ></ApiErrorAlert>

    <div v-if="!loaded">
      <LoadingIndicatorCard></LoadingIndicatorCard>
    </div>
    <div v-else>
      <v-alert type="info" outlined v-if="rooms.length === 0">
        No rooms defined yet. Please create (or ask an admin to create) a room
        first before managing its booking.
      </v-alert>
      <v-tabs v-model="roomIndex">
        <v-tab v-for="room in rooms" :key="room.uuid">
          {{ room.name }}
        </v-tab>
      </v-tabs>

      <div v-if="!bookingsForRoomFetched">
        <LoadingIndicatorCard></LoadingIndicatorCard>
      </div>
      <div v-else>
        <v-tabs-items v-model="roomIndex">
          <v-tab-item v-for="room in rooms" :key="room.uuid">
            <v-card outlined>
              <v-card-title>
                {{ room.name }}
              </v-card-title>

              <v-divider></v-divider>

              <v-card-text>
                <v-btn
                  class="my-2"
                  small
                  text
                  @click="
                    showDialogNewEditBooking({
                      roomUuid: room.uuid,
                      showDialog: true,
                    })
                  "
                  outlined
                >
                  <v-icon left> mdi-plus </v-icon>
                  Create new booking
                </v-btn>

                <AddEditBookingDialog
                  v-if="
                    dialogAddEditBooking[room.uuid] &&
                    dialogAddEditBooking[room.uuid].show
                  "
                  v-model="dialogAddEditBooking[room.uuid].show"
                  :room="room"
                  :is-edit-mode="dialogAddEditBooking[room.uuid].isEditMode"
                  :booking="dialogAddEditBooking[room.uuid].booking"
                  @booking-edited="onBookingEdited"
                  @booking-dialog-closed="onBookingDialogClosed"
                ></AddEditBookingDialog>
              </v-card-text>

              <v-divider></v-divider>

              <v-card-text>
                <CalendarBookingsCard
                  :bookings="bookingsForRoom"
                  @booking-clicked="onBookingClicked"
                >
                </CalendarBookingsCard>
              </v-card-text>

              <v-divider></v-divider>
              <BookingsListCard
                :bookings="bookingsForRoom"
                :room="room"
              ></BookingsListCard>
            </v-card>
          </v-tab-item>
        </v-tabs-items>
        <v-snackbar
          outlined
          timeout="1500"
          color="green"
          v-model="snackbar.show"
        >
          {{ snackbar.message }}
        </v-snackbar>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import LoadingIndicatorCard from '~/components/cards/loading-indicator-card.vue'
import CalendarBookingsCard from '~/components/cards/calendar-bookings-card.vue'
import AddEditBookingDialog from '~/components/dialogs/add-edit-booking.dialog.vue'
import BookingsListCard from '~/components/cards/bookings-as-list-card.vue'
import ApiErrorAlert from '~/components/errors/api-error-alert.vue'
import { ApiError } from '~/store/interfaces/api-error'
import { Booking } from '~/store/interfaces/bookings/bookings'
import { BookingsModuleState } from '~/store/bookings'
import { Room } from '~/store/interfaces/bookings/room'

export interface BookingDialogProperties {
  show: boolean
  isEditMode: boolean
  booking: Booking | null
}

export default Vue.extend({
  layout: 'admin_layout',
  middleware: 'secretariat_role',
  components: {
    ApiErrorAlert,
    LoadingIndicatorCard,
    AddEditBookingDialog,
    CalendarBookingsCard,
    BookingsListCard,
  },
  data() {
    return {
      dialogAddEditBooking: {} as Record<string, BookingDialogProperties>,
      roomIndex: null as null | number,
      snackbar: {
        show: false,
        success: false,
        message: '',
      },
    }
  },
  computed: {
    bookingsModuleState(): BookingsModuleState {
      return this.$store.state.bookings as BookingsModuleState
    },
    errorBookingsModule(): ApiError | null {
      return this.bookingsModuleState.error
    },
    bookingsForRoom(): Booking[] {
      return this.bookingsModuleState.bookings
    },
    loaded(): boolean {
      return this.bookingsModuleState.roomsFetched
    },
    bookingsForRoomFetched(): boolean {
      return this.bookingsModuleState.bookingsFetched
    },
    rooms(): Room[] {
      return this.bookingsModuleState.rooms
    },
    isDialogOpen(): boolean {
      return this.isBookingEditDialogOpen()
    },
  },
  async fetch({ store }) {
    await store.dispatch('bookings/RESET_BOOKINGS')
  },
  mounted() {
    this.fetchRooms()
  },
  watch: {
    roomIndex() {
      if (this.roomIndex !== null && this.roomIndex < this.rooms.length) {
        this.fetchBookingsForRoom(this.rooms[this.roomIndex].uuid)
      }
    },
  },
  created() {},
  methods: {
    fetchRooms() {
      this.$store.dispatch('bookings/FETCH_ROOMS')
    },
    fetchBookingsForRoom(roomUuid: string) {
      this.$store.dispatch('bookings/FETCH_BOOKINGS_FOR_ROOM', {
        roomUuid,
      })
    },
    showDialogNewEditBooking({
      roomUuid,
      showDialog,
      isEdit = false,
      booking = null,
    }: {
      roomUuid: string
      showDialog: boolean
      isEdit?: boolean
      booking?: Booking | null
    }) {
      const dialogProperties: BookingDialogProperties = {
        show: showDialog,
        isEditMode: isEdit,
        booking,
      }
      this.$set(this.dialogAddEditBooking, roomUuid, dialogProperties)
    },
    async onBookingEdited({
      roomUuid,
      message,
    }: {
      roomUuid: string
      message: string
    }) {
      await this.fetchBookingsForRoom(roomUuid)
      this.showDialogNewEditBooking({ roomUuid, showDialog: false })
      this.snackbar.message = message
      this.snackbar.show = true
    },

    async onBookingDialogClosed({ roomUuid }: { roomUuid: string }) {
      await this.fetchBookingsForRoom(roomUuid)
      this.snackbar.message = 'Bookings have been refreshed'
      this.snackbar.show = true
    },

    onBookingClicked(booking: Booking) {
      this.showDialogNewEditBooking({
        roomUuid: booking.room.uuid,
        showDialog: true,
        isEdit: true,
        booking,
      })
    },

    isBookingEditDialogOpen(): boolean {
      let open = false

      for (const k of Object.keys(this.dialogAddEditBooking)) {
        if (this.dialogAddEditBooking[k].show) {
          open = true
          break
        }
      }
      return open
    },
  },
})
</script>
