<template>
  <v-app>
    <v-navigation-drawer
      v-model="drawer.open"
      :clipped="drawer.clipped"
      :fixed="drawer.fixed"
      :permanent="drawer.permanent"
      :mini-variant="drawer.mini"
      app
    >
      <v-list-item v-if="!drawer.permanent" @click="makeDrawerPermanent">
        <v-list-item-icon><v-icon>chevron_right</v-icon></v-list-item-icon>
        <v-list-item-content>
          <v-list-item-title>Static Drawer</v-list-item-title>
        </v-list-item-content>
      </v-list-item>
      <v-list-item @click="toggleMiniDrawer">
        <v-list-item-icon><v-icon>aspect_ratio</v-icon></v-list-item-icon>
        <v-list-item-content>
          <v-list-item-title>Sensor Monitoring Dashboard</v-list-item-title>
        </v-list-item-content>
      </v-list-item>

      <v-divider />

      <v-divider />
      <v-list dense nav>
        <v-list-item to="/" router exact>
          <v-list-item-icon>
            <v-icon>mdi-view-dashboard</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title>
              {{ $t('drawer.dashboard') }}
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-divider />

        <v-list-item
          to="/room_reservation/bookings"
          router
          exact
          v-if="isBookingsMenuAvailable"
        >
          <v-list-item-icon>
            <v-icon> mdi-calendar-plus </v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title>
              {{ $t('drawer.bookings') }}
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-divider v-if="isCamerasMenuAvailable"></v-divider>

        <v-list-item
          to="/cameras/cameras"
          router
          exact
          v-if="isCamerasMenuAvailable"
        >
          <v-list-item-icon>
            <v-icon> videocam </v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title>
              {{ $t('drawer.cameras') }}
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-divider v-if="isCurrentExperimentMenuAvailable"></v-divider>

        <v-list-group
          prepend-icon="mdi-run"
          value="true"
          v-if="isCurrentExperimentMenuAvailable"
        >
          <template v-slot:activator>
            <v-list-item-content>
              <v-list-item-title>
                {{ $t('drawer.current_experiment.title') }}
              </v-list-item-title>
            </v-list-item-content>
          </template>

          <v-list-item
            to="/current_experiment/definition_progress"
            router
            exact
          >
            <v-list-item-icon>
              <v-icon> mdi-card-bulleted-outline </v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title>
                {{ $t('drawer.current_experiment.definition_progress') }}
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>

          <v-list-item to="/current_experiment/recordings" router exact>
            <v-list-item-icon>
              <v-icon> mdi-scale </v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title>
                {{ $t('drawer.current_experiment.recordings_status') }}
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list-group>

        <v-divider v-if="isAdminMenuAvailable"></v-divider>

        <v-list-group
          prepend-icon="admin_panel_settings"
          value="true"
          v-if="isAdminMenuAvailable"
        >
          <template v-slot:activator>
            <v-list-item-content>
              <v-list-item-title> Admin </v-list-item-title>
            </v-list-item-content>
          </template>
          <v-list-item to="/admin/users" router exact>
            <v-list-item-icon>
              <v-icon> people </v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title>
                {{ $t('drawer.admin.users') }}
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>
          <v-list-item
            to="/admin/experiments_configuration/experiments/list"
            router
            exact
          >
            <v-list-item-icon>
              <v-icon> science </v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title>
                {{ $t('drawer.admin.experiments') }}
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>
          <v-list-item to="/admin/log_book" router exact>
            <v-list-item-icon>
              <v-icon> mdi-book-variant </v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title>
                {{ $t('drawer.admin.log_book') }}
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>
          <v-list-item to="/admin/rooms" router exact>
            <v-list-item-icon>
              <v-icon> mdi-room-service </v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title>
                {{ $t('drawer.admin.rooms') }}
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>
          <v-list-item to="/admin/screen_entrance_loft" router exact>
            <v-list-item-icon>
              <v-icon> mdi-projector-screen </v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title>
                {{ $t('drawer.admin.screen_entrance') }}
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list-group>
      </v-list>
    </v-navigation-drawer>

    <v-app-bar
      app
      color="white"
      :fixed="toolbar.fixed"
      :clipped-left="toolbar.clippedLeft"
      class="elevation-1"
      height="56"
    >
      <v-spacer />
      <div style="width: 100px; margin-right: 20px; margin-top: 15px">
        <v-select
          v-model="language"
          :items="languages"
          prepend-icon="language"
        />
      </div>
      <v-btn icon nuxt to="/profile">
        <v-icon>mdi-account</v-icon>
      </v-btn>
      <v-btn text @click="logout">
        {{ $t('general.logout') }}
      </v-btn>
    </v-app-bar>

    <v-main class="white">
      <v-container class="main-container" fluid>
        <v-card class="px-6 pt-6" flat max-width="1920">
          <nuxt />
        </v-card>
      </v-container>
    </v-main>

    <v-footer :inset="footer.inset" app :fixed="footer.fixed">
      <v-flex text-center>
        ARTORG Center for Biomedical Engineering Research &copy;
        {{ currentYear }}
      </v-flex>
    </v-footer>
  </v-app>
</template>

<script lang="ts">
import Vue from 'vue'
import { RootState } from '~/store'
import { User } from '~/store/interfaces/user'
import { AuthModuleState } from '~/store/auth'

export default Vue.extend({
  components: {},
  middleware: 'authenticated',
  data() {
    return {
      drawer: {
        // sets the open status of the drawer
        open: true,
        // sets if the drawer is shown above (false) or below (true) the toolbar
        clipped: false,
        // sets if the drawer is CSS positioned as 'fixed'
        fixed: false,
        // sets if the drawer remains visible all the time (true) or not (false)
        permanent: true,
        // sets the drawer to the mini variant, showing only icons, of itself (true)
        // or showing the full drawer (false)
        mini: false,
      },
      toolbar: {
        fixed: true,
        // sets if the toolbar contents is leaving space for drawer (false) or not (true)
        clippedLeft: false,
      },
      footer: {
        // sets the CSS position of the footer
        fixed: true,
        // sets if the footer is full width (false) or gives space to the drawer (true)
        inset: true,
      },
      exercisesGroupExpanded: true,
    }
  },
  computed: {
    rootState() {
      return this.$store.state as RootState
    },
    languages(): string[] {
      return this.rootState.locales
    },
    language: {
      get(): string {
        return this.rootState.locale
      },
      set(lang) {
        this.$store.dispatch('UPDATE_LANG', lang)
      },
    },
    currentUser(): User | null {
      return (this.$store.state.auth as AuthModuleState).user
    },
    isAdminUser(): boolean {
      return this.$store.getters['auth/isAdmin']
    },
    isOperatorUser(): boolean {
      return this.$store.getters['auth/isOperator']
    },
    isSecretariatUser(): boolean {
      return this.$store.getters['auth/isSecretariat']
    },
    currentYear(): number {
      return new Date().getFullYear()
    },
    authModuleState(): AuthModuleState {
      return this.$store.state.auth
    },
    jwt(): string {
      return this.authModuleState.jwt
    },
    isBookingsMenuAvailable(): boolean {
      return this.isAdminUser || this.isSecretariatUser
    },
    isCurrentExperimentMenuAvailable(): boolean {
      return this.isAdminUser || this.isOperatorUser
    },
    isCamerasMenuAvailable(): boolean {
      return this.isAdminUser || this.isOperatorUser
    },
    isAdminMenuAvailable(): boolean {
      return this.isAdminUser
    },
    showCamerasTab(): boolean {
      // Display this tab for admins or operators
      // Cameras websocket requires authentication and connection is establish only if user if part of experiment
      return this.isAdminUser || this.isOperatorUser
    },
  },

  created() {},
  methods: {
    // changes the drawer to permanent
    makeDrawerPermanent() {
      this.drawer.permanent = true
      // set the clipped state of the drawer and toolbar
      this.drawer.clipped = false
      this.toolbar.clippedLeft = false
    },
    // toggles the drawer variant (mini/full)
    toggleMiniDrawer() {
      this.drawer.mini = !this.drawer.mini
    },
    // toggles the drawer type (permanent vs temporary) or shows/hides the drawer
    toggleDrawer() {
      if (this.drawer.permanent) {
        this.drawer.permanent = !this.drawer.permanent
        // set the clipped state of the drawer and toolbar
        this.drawer.clipped = true
        this.toolbar.clippedLeft = true
      } else {
        // normal drawer
        this.drawer.open = !this.drawer.open
      }
    },
    logout() {
      this.$store.dispatch('auth/LOGOUT')
    },
  },
})
</script>

<style scoped>
>>> .v-list-item__icon:first-child {
  margin-right: 18px !important;
}
</style>
