<template>
  <v-app>
    <v-main>
      <v-container fill-height>
        <nuxt />
      </v-container>
    </v-main>
    <v-footer app>
      <v-flex text-center>
        ARTORG Center for Biomedical Engineering Research &copy;
        {{ currentYear }}
      </v-flex>
    </v-footer>
  </v-app>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  components: {},
  computed: {
    currentYear() {
      return new Date().getFullYear()
    },
  },
  methods: {},
})
</script>
