<template>
  <v-app>
    <v-main>
      <v-container fill-height class="justify-center">
        <v-card flat>
          <v-card-title>Error</v-card-title>
          <v-card-text>
            <v-alert type="warning" outlined>
              <div v-if="error.statusCode === 404">
                {{ pageNotFound }}
              </div>
              <div v-else>
                {{ otherError }}
              </div>
            </v-alert>

            Go to: <NuxtLink to="/"> Home page </NuxtLink>
          </v-card-text>
        </v-card>
      </v-container>
    </v-main>
    <v-footer app>
      <v-flex text-center>
        ARTORG Center for Biomedical Engineering Research &copy;
        {{ currentYear }}
      </v-flex>
    </v-footer>
  </v-app>
</template>

<script>
export default {
  layout: 'empty',
  props: {
    error: {
      type: Object,
      default: null,
    },
  },
  data() {
    return {
      pageNotFound: '404 Not Found',
      otherError: 'An error occurred',
    }
  },
  head() {
    const title =
      this.error.statusCode === 404 ? this.pageNotFound : this.otherError
    return {
      title,
    }
  },
}
</script>

<style scoped>
h1 {
  font-size: 20px;
}
</style>
